
{% extends "../../../base/base.html" %}

{% load static %}


      <!-- Page content -->
      {% block title %} candidate-Profile{% endblock %}
    <!-- Content -->
    
    {% block content %}
      <!-- Page content -->
      <!-- Page content -->
 
      <div class="page-content">
        <!-- Page title -->
        <div class="page-title">
          <div class="row justify-content-between align-items-center">
            <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
              <!-- Page title + Go Back button -->
              <div class="d-inline-block">
                <h5 class="h3 font-weight-400 mb-0 text-white">Moning, {{fullName}} !</h5>
                <span class="text-sm text-white opacity-8">Have a nice day!</span>
              </div>
            
              <!-- Additional info -->
            </div>
            <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-end">
              <div class="actions actions-dark d-inline-block">
                <a href="#" class="action-item ml-md-4">
                  <i class="far fa-file-export mr-2"></i>Export
                </a>
                <a href="#" class="action-item ml-3">
                  <i class="far fa-cog mr-2"></i>Settings
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <!-- Profile stats -->
            <div class="card card-fluid">
              <div class="card-header">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <!-- Avatar -->
                    <a href="#" class="avatar rounded-circle">
                      <img alt="Image placeholder" src="{% static image %}" class="">
                    </a>
                  </div>
                  <div class="col ml-md-n2">
                    <a href="#!" class="d-block h6 mb-0">{{candidateDetails.fullName}}</a>
                    <small class="d-block text-muted">{{candidateDetails.profession}}</small>
                  </div>
                  <div class="col-auto">
                    <button type="button" class="btn btn-xs btn-primary btn-icon rounded-pill">
                      <span class="btn-inner--icon"><i class="far fa-edit"></i></span>
                      <span class="btn-inner--text">Edit</span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-4 text-center">
                    {% if total_votes %} 
                    <span class="h5 mb-0">{{total_votes}}</span>
                    {% else %}
                    <span class="h5 mb-0">0</span>
                    {% endif %}
                    <span class="d-block text-sm">Images</span>
                    
                  </div>
                  <div class="col-4 text-center">
                
                    {% if total_price %} 
                    <span class="h5 mb-0">{{total_price}}</span>
                    {% else %}
                    <span class="h5 mb-0">0</span>
                    {% endif %}
                    <span class="d-block text-sm"> Amount</span>
                  </div>
                  <div class="col-4 text-center">
                    <span class="h5 mb-0">0</span>
                    <span class="d-block text-sm">Postion</span>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="row align-items-center">
                  <div class="col-6">
                    <button type="button" class="btn btn-sm px-0 font-weight-bold btn-link text-primary btn-icon">
                      Message
                    </button>
                  </div>
                  <div class="col-6 text-right">
                    <button type="button" class="btn btn-xs btn-secondary rounded-pill">Follow</button>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="col-lg-4">
            <!-- Profile contacts -->
            <div class="card card-fluid">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col">
                    <h6 class="text-sm mb-0">
                      <i class="fab fa-mail mr-2"></i>  <b> Email </b>
                    </h6>
                  </div>
                  <div class="col-auto">
                    <span class="text-sm">{{candidateDetails.email}}</span>
                  </div>
                </div>
                <hr class="my-3">
                <div class="row align-items-center">
                  <div class="col">
                    <h6 class="text-sm mb-0">
                     <b> Phone Number </b>
                    </h6>
                  </div>
                  <div class="col-auto">
                    <span class="text-sm">+{{candidateDetails.numberPhone}}</span>
                  </div>
                </div>
                <hr class="my-3">
                <div class="row align-items-center">
                  <div class="col">
                    <h6 class="text-sm mb-0">
                     <b> Location </b>
                    </h6>
                  </div>
                  <div class="col-auto">
                    <span class="text-sm">{{candidateDetails.city}}</span>
                  </div>
                </div>
                <hr class="my-3">
                <div class="row align-items-center">
                  <div class="col">
                    <h6 class="text-sm mb-0">
                    <b> Academic Level  </b>
                    </h6>
                  </div>
                  <div class="col-auto">
                    <span class="text-sm">{{candidateDetails.academic_level}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <!-- Profile performance -->
            <div class="card card-fluid">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col">
                    <h6 class="text-sm mb-0">Performance</h6>
                    <span class="text-nowrap h6 text-muted text-sm">65%</span>
                    <span class="badge badge-xs badge-soft-warning ml-2"><i class="far fa-arrow-down"></i> 13%</span>
                  </div>
                  <div class="col-4">
                    <div style="max-width: 100px;">
                      <div class="spark-chart" data-toggle="spark-chart" data-type="line" data-height="30" data-color="warning" data-dataset="[47, 94, 24, 18, 26, 65, 31, 47, 10, 44, 45]"></div>
                    </div>
                  </div>
                </div>
                <hr class="my-3">
                <div class="row align-items-center">
                  <div class="col">
                    <h6 class="text-sm mb-0">Total Amount</h6>
                    <span class="text-nowrap h6 text-muted text-sm">$3.068,90</span>
                    <span class="badge badge-xs badge-soft-success ml-2"><i class="far fa-arrow-up"></i> 25%</span>
                  </div>
                  <div class="col-4">
                    <div style="max-width: 100px;">
                      <div class="spark-chart" data-toggle="spark-chart" data-type="line" data-height="30" data-color="success" data-dataset="[47, 94, 24, 18, 26, 65, 31, 47, 10, 44, 45]"></div>
                    </div>
                  </div>
                </div>
                <hr class="my-3">
                <div class="row align-items-center">
                  <div class="col">
                    <h6 class="text-sm mb-0">Total Votes</h6>
                    <span class="text-nowrap h6 text-muted text-sm">80</span>
                    <span class="badge badge-xs badge-soft-info ml-2"><i class="far fa-arrow-up"></i> 17%</span>
                  </div>
                  <div class="col-4">
                    <div style="max-width: 100px;">
                      <div class="spark-chart" data-toggle="spark-chart" data-type="bar" data-height="30" data-color="primary" data-dataset="[47, 94, 24, 18, 26, 65, 31, 47, 10, 44, 45]"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-4 col-md-6">
            <div class="card card-fluid">
              <div class="card-header">
                <h6 class="mb-0">Worked hours</h6>
              </div>
              <div class="card-body">
                <!-- Chart -->
                <div id="apex-worked-hours" data-color="primary" data-height="280"></div>
              </div>
            </div>
          </div>
          <div class="col-xl-8 col-md-6">
            <div class="card card-fluid">
              <div class="card-header border-0">
                <h6 class="mb-0">My projects</h6>
              </div>
              <div class="table-responsive">
                <table class="table align-items-center">
                  <thead>
                    <tr>
                      <th scope="col" class="sort" data-sort="budget">voteId</th>
                      <th scope="col" class="sort" data-sort="budget">dataOfVoting</th>
                      <th scope="col" class="sort" data-sort="status">numberOfVote</th>
                      <th scope="col" class="sort" data-sort="completion">priceVoter</th>
                    </tr>
                  </thead>
                  <tbody class="list">
                    {% for info  in votes_candidate_info  %} 
            
                
                    <tr>
                      <th scope="row">
                        <div class="media align-items-center">
                        
                          <div class="media-body ml-4">
                            <a href="overview.html" class="name mb-0 h6 text-sm">{{info.voteId}}</a>
                          </div>
                        </div>
                      </th>
                      <td class="budget">
                        {{info.numberOfVote}}
                      </td>
                      <td>
                        <span class="badge badge-dot mr-4">
                          <span class="status">{{info.priceVoter}}</span>
                        </span>
                      </td>
                      <td>
                        <div class="d-flex align-items-center">
                          <span class="completion mr-2">{{info.dataOfVoting}}</span>
                          <div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
     
      </div>
    {% endblock %}