
{% extends "../../../base/base.html" %}

{% load static %}


      <!-- Page content -->
      {% block title %} Order Description{% endblock %}
  
    {% block content %}
    <div class="page-content">
        <!-- Page title -->
        <div class="page-title">
          <div class="row justify-content-between align-items-center">
            <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
              <!-- Page title + Go Back button -->
              <div class="d-inline-block">
                <h5 class="h4 d-inline-block font-weight-400 mb-0 text-white">Order #100045</h5>
              </div>
              <!-- Additional info -->
            </div>
   
            <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-end">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Status: Rapport
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <h6 class="dropdown-header">Get order Info</h6>
                  <a class="dropdown-item" href="#">
                    <i class="far fa-file-pdf text-primary"></i>Download Rapport
                  </a>
                  {% comment %} <a class="dropdown-item" href="#">
                    <i class="far fa-clipboard-check text-primary"></i>Confirmed
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="far fa-box text-primary"></i>Packed
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="far fa-shipping-fast text-primary"></i>Shipped
                  </a>
                  <div class="dropdown-divider" role="presentation"></div>
                  <a class="dropdown-item" href="#">
                    <i class="far fa-check text-primary"></i>Delivered
                  </a> {% endcomment %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8">
            <div class="card">
              <div class="card-header border-0">
                <h6 class="mb-0">General statistics for all your competitions </h6>
              </div>
              <div class="table-responsive">
                <table class="table mb-0">
                  <thead class="thead-light">
                    <tr>
                      <th>Item</th>
                      <th>Votes</th>
                      <th>Price</th>
                      <th>Votes_reel</th>
                      <th>total_reel_price</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for competition in competition_details  %}
                    <tr>
                      <td><span class="h6 text-sm">{{competition.competition}}</span></td>
                      <td>{{competition.votes}}</td>
                      <td>FCFA {{competition.total_price}}</td>
                      <td> {{competition.total_reel_votes}}</td>
                      <td>FCFA <strong> {{competition.total_reel_price}} </strong></td>
                    </tr>
                    
                    {% endfor %}
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
         <div class="col-lg-4">
            <div class="card">
              <div class="card-header border-0">
                <h6 class="mb-0">All funds managed</h6>
              </div>
              <div class="table-responsive">
                <table class="table mb-0">
                  <thead class="thead-light">
                    <tr>
                      <th>Description</th>
                      <th>Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for competition_details in all_competition_all_details %}
                    {% for key, value in competition_details.items %}
                        <tr>
                            <td>{{ key }}</td>
                            <td><strong> FCFA {% if  value  %} {{ value }} {% else %} 0 {% endif %}</strong> </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div> 
        </div>
        <div class="row">
          
         {% for competition_registration  in competition_registration_details %} 
         
          <div class="col-lg-4">
            <div class="card card-fluid">
              <div class="card-body">
                <h6 class="mb-4">competition registration details</h6>
                <dl class="row mb-0 align-items-center">
                  <dt class="col-sm-3 h6 text-sm">Name</dt>
                  <dd class="col-sm-9 text-sm">{{competition_registration.competition}}</dd>
                  <dt class="col-sm-3 h6 text-sm">Amount Total</dt>
                  <dd class="col-sm-9 text-sm">{{competition_registration.total_registration_fee}}</dd>
                  <dt class="col-sm-3 h6 text-sm">Amount Total reel</dt>
                  <dd class="col-sm-9 text-sm">{{competition_registration.total_registration_fee_reel}}</dd>
                </dl>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
    {% endblock %}