<div class="alert alert-danger bg-gradient-danger text-white alert-flush alert-dismissible border-0 shadow-lg fade show mb-0" role="alert">
    <div class="container">

        🌟 Unlock the Power of StarBeautyVote! 🌟
Boost your next project with our innovative e-voting platform! For a limited time, enjoy a  <strong>35% discount</strong> on all features. Use code <strong>VOTE2k24</strong> until June 30th 
       
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span class="text-white opacity-10" aria-hidden="true">&times;</span>
        </button>
    </div>
</div>