{% load static %}
<footer id="footer-main">
  <div class="footer footer-dark bg-primary">
    <div class="container">
      <div class="row pt-md">
        <div class="col-lg-4 mb-5 mb-lg-0">
          <p>StarBeautyVote is dedicated to revolutionizing the e-voting experience with our secure and user-friendly platforms. We strive to ensure that every vote counts in the most efficient and transparent way possible.</p>
        </div>
        <div class="col-lg-2 col-6 col-sm-4 ml-lg-auto mb-5 mb-lg-0">
          <h6 class="heading mb-3">Account</h6>
          <ul class="list-unstyled">
            <li><a href="/competitionLanding">Competitions</a></li>
            {% comment %} <li><a href="becomepartner">Become Partner</a></li> {% endcomment %}
            {% comment %} <li><a href="/pricing">Pricing</a></li> {% endcomment %}
          </ul>
        </div>
        <div class="col-lg-2 col-6 col-sm-4 mb-5 mb-lg-0">
          <h6 class="heading mb-3">About</h6>
          <ul class="list-unstyled text-small">
            {% comment %} <li><a href="/services/">Services</a></li> {% endcomment %}
            <li><a href="/contact/">Contact</a></li>
            {% comment %} <li><a href="/blogs/">Blogs</a></li> {% endcomment %}
          </ul>
        </div>
        <div class="col-lg-2 col-sm-4 mb-5 mb-lg-0">
          <h6 class="heading mb-3">Company</h6>
          <ul class="list-unstyled">
            {% comment %} <li><a href="#">Terms</a></li> {% endcomment %}
            <li><a href="/faq/">Faq</a></li>
            {% comment %} <li><a href="/support/">Support</a></li> {% endcomment %}
          </ul>
        </div>
      </div>
      <div class="row align-items-center justify-content-md-between py-4 mt-4 delimiter-top">
        <div class="col-md-6">
          <div class="copyright text-sm font-weight-bold text-center text-md-left">
            &copy; 2023-2024 <a href="" class="font-weight-bold" target="_blank">YdobonAI</a>. All rights reserved.
          </div>
        </div>
        <div class="col-md-6">
          {% comment %} <ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0">
            <li class="nav-item">
              <a class="nav-link" href="https://dribbble.com/webpixels" target="_blank">
                <i class="fab fa-dribbble"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.instagram.com/webpixelsofficial" target="_blank">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/webpixels" target="_blank">
                <i class="fab fa-github"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.facebook.com/webpixels" target="_blank">
                <i class="fab fa-facebook"></i>
              </a>
            </li>
          </ul> {% endcomment %}
        </div>
      </div>
    </div>
  </div>
</footer>