{% load static %}

<div class="sidenav" id="sidenav-main">
    <!-- Sidenav header -->
    <div class="sidenav-header d-flex align-items-center">
      <a class="navbar-brand" href="../index-2.html">
        {% comment %} <img src=" {% static 'assets/img/brand/white.png' %}" class="navbar-brand-img" alt="..."> {% endcomment %}
        <span id="navbar-logo-text">StarBeautyVote</span>

      </a>
      <div class="ml-auto">
        <!-- Sidenav toggler -->
        <div class="sidenav-toggler sidenav-toggler-dark d-md-none" data-action="sidenav-unpin" data-target="#sidenav-main">
          <div class="sidenav-toggler-inner">
            <i class="sidenav-toggler-line bg-white"></i>
            <i class="sidenav-toggler-line bg-white"></i>
            <i class="sidenav-toggler-line bg-white"></i>
          </div>
        </div>
      </div>
    </div>
    <!-- User mini profile -->
    <div class="sidenav-user d-flex flex-column align-items-center justify-content-between text-center">
      <!-- Avatar -->
      <div>
        <a href="#" class="avatar rounded-circle avatar-xl">

          {% if status == 'promoter' %}          
          <img alt="Image placeholder" src="{% static 'assets/img/theme/light/brand-avatar-11.png' %}"  class="">
          {% else %} 
          
          <img alt="Image placeholder" src="{% static image %}" class="">
          {% endif %}
      
        </a>
        <div class="mt-4">
          <h5 class="mb-0 text-white">{{fullName}}</h5>
 
          {% if status == 'promoter' %}
          <span class="d-block text-sm text-white opacity-8 mb-3">Promoter</span>
          {% else %} 
          <span class="d-block text-sm text-white opacity-8 mb-3">Candidate</span>
          {% endif %}
      
          <a href="#" class="btn btn-sm btn-white btn-icon rounded-pill shadow hover-translate-y-n3" data-toggle="modal" data-target="#modal_transfert">
            <span class="btn-inner--icon"><i class="far fa-coins"></i></span>
            
            {% if total_amount %} 
            <span class="btn-inner--text">FCFA {{total_amount}}</span>
            {% else %} 
            <span class="btn-inner--text">FCFA 0 </span>
            
            {% endif %}
            
          </a>
        </div>
      </div>
      <!-- User info -->
      <!-- Actions -->
      {% comment %} <div class="w-100 mt-4 actions d-flex justify-content-between">
        <a href="user/profile.html" class="action-item action-item-lg text-white pl-0">
          <i class="far fa-user"></i>
        </a>
        <a href="#modal-chat" class="action-item action-item-lg text-white" data-toggle="modal">
          <i class="far fa-comment-alt"></i>
        </a>
        <a href="shop/invoices.html" class="action-item action-item-lg text-white pr-0">
          <i class="far fa-receipt"></i>
        </a>
      </div> {% endcomment %}
    </div>
    <!-- Application nav -->
    {% comment %} <div class="nav-application clearfix">
      <a href="home.html" class="btn btn-square text-sm active">
        <span class="btn-inner--icon d-block"><i class="far fa-home fa-2x"></i></span>
        <span class="btn-inner--icon d-block pt-2">Home</span>
      </a>
      <a href="project/card-listing.html" class="btn btn-square text-sm">
        <span class="btn-inner--icon d-block"><i class="far fa-project-diagram fa-2x"></i></span>
        <span class="btn-inner--icon d-block pt-2">Projects</span>
      </a>
      <a href="task/table-listing.html" class="btn btn-square text-sm">
        <span class="btn-inner--icon d-block"><i class="far fa-tasks fa-2x"></i></span>
        <span class="btn-inner--icon d-block pt-2">Tasks</span>
      </a>
      <a href="task/kanban-board.html" class="btn btn-square text-sm">
        <span class="btn-inner--icon d-block"><i class="far fa-columns fa-2x"></i></span>
        <span class="btn-inner--icon d-block pt-2">Kanban</span>
      </a>
      <a href="user/card-listing.html" class="btn btn-square text-sm">
        <span class="btn-inner--icon d-block"><i class="far fa-users-cog fa-2x"></i></span>
        <span class="btn-inner--icon d-block pt-2">Users</span>
      </a>
      <a href="user/profile.html" class="btn btn-square text-sm">
        <span class="btn-inner--icon d-block"><i class="far fa-user-ninja fa-2x"></i></span>
        <span class="btn-inner--icon d-block pt-2">Profile</span>
      </a>
      <a href="shop/invoices.html" class="btn btn-square text-sm">
        <span class="btn-inner--icon d-block"><i class="far fa-receipt fa-2x"></i></span>
        <span class="btn-inner--icon d-block pt-2">Invoices</span>
      </a>
      <a href="widgets.html" class="btn btn-square text-sm">
        <span class="btn-inner--icon d-block"><i class="far fa-cogs fa-2x"></i></span>
        <span class="btn-inner--icon d-block pt-2">Widgets</span>
      </a>
    </div> {% endcomment %}
    <!-- Misc area -->


           {% comment %} Model {% endcomment %}
           <div class="modal fade" id="modal_transfert" tabindex="-1" role="dialog" aria-labelledby="modal_transfert" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title h6" id="modal_title_6">Transfer validation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% if modePaymentList %}
                <div class="modal-body">
                    <div class="py-3 text-center">
                      <i class="fas fa-check-circle fa-4x" style="color: green;"></i>
                      <h5 class="heading h4 mt-4">Confirm your Transfer</h5>
                        <p>
                          Please check the details of your transfer below and confirm to continue.   </p>
                    </div>

                    <div class="card">
                      <div class="card-header py-4" id="heading-2-1">
                          <h6 class="mb-0">       <i class="far fa-check-circle"></i>
                            <span class='numberOfAmount'>TOTAL MONET AVAILABLE: 
                              {% if total_amount  %} 
                              
                              {{total_amount}} 
                              {% else %} 
                                0
                              {% endif %}
                          
                          </span> 
                          </h6>
                      </div>
                    </div>
                </div>

                <form method='POST' action="{% url "accountBuilding" %} ">
                                    {% csrf_token %}
                  
              
                <div class="modal-body">
                  <select class="custom-select" name='phoneNumber'>
                    <option selected>Open this select Phone Number</option>

                    {% for mode in modePaymentList  %}

                    <option value="{{mode.phoneNumber}}">{{mode.phoneNumber}}</option>
                    {% endfor %}

                </select>
                <br/>
                <div class="form-group">
                  <label class="form-control-label">The Amount</label>
                  <br/>
                  <input type="number" name="amount" class="form-control form-control-emphasized" placeholder="Emphasized input">
              </div>
                 
              </div>
                <div class="modal-footer">
                    <button type="submit" name='launchtransfer'  class="btn btn-primary">Launch transfer</button>
                </div>
             {% else %} 
                <div class="modal-body">
                  <div class="py-3 text-center">
                      <i class="fas fa-exclamation-circle fa-4x"></i>
                      <h5 class="heading h4 mt-4">Add a Payment Method</h5>
                      <p>
                     No payment methods available. Please add a payment method first.  </p>
                  </div>
               
            </div>
              <div class="modal-footer">
                {% comment %} <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> {% endcomment %}
                <a href="/apps/accountBuilding/" class="btn btn-secondary" role="button">Add Payment Method</a>

              </div> 
            {% endif %} 
              </form>
                </div>
            </div>
        </div>

        
    <br> <br> <br> <br>
    <div class="card bg-gradient-warning">
      <div class="card-body">
        <h5 class="text-white">Hello, Friend!</h5>
        <p class="text-white mb-4">
          Why not start using Purpose Application UI Kit and create something amazing today?
        </p>
        <a href=" " class="btn btn-sm btn-block btn-white rounded-pill" target="_blank">Get started</a>
      </div>
    </div>
  </div>

