
{% extends "../../base/home/base.html" %}
{% load static %}

{% block title %} Blogs {% endblock %}
{% block content %}


<div class="main-content">
  <!-- Cover (v3) -->
  <section class="spotlight bg-cover bg-size--cover" data-spotlight="fullscreen" style="background-image: url('../../assets/img/backgrounds/img-1-1920x800.jpg');">
    <div class="spotlight-holder">
      <span class="mask bg-gradient-primary opacity-6"></span>
      <div class="container d-flex align-items-center pt-9 pb-6 py-lg-0">
        <div class="col py-4">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-7 col-lg-7 text-center">
              <h1 class="text-white lh-150 mb-4">Keep your face always toward the sunshine - and shadows will fall behind you.</h1>
              <ul class="list-inline">
                <li class="list-inline-item text-white">August 21, 2018</li>
                <li class="list-inline-item text-white">Written by Destiny Erykah</li>
              </ul>
              <span class="clearfix"></span>
              <a href="#" class="btn btn-white rounded-pill btn-icon mt-4">
                <span class="btn-inner--text">Continue reading</span>
                <span class="btn-inner--icon"><i class="fas fa-angle-right"></i></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="slice slice-lg bg-section-secondary">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="card hover-shadow-lg hover-translate-y-n10">
            <a href="#">
              <img alt="Image placeholder" src="../../assets/img/theme/light/img-1-800x600.jpg" class="card-img-top">
            </a>
            <div class="card-body py-5 text-center">
              <a href="#" class="d-block h5 lh-150">Choose the best solution for your business</a>
              <h6 class="text-muted mt-4 mb-0">20 Aug 2019</h6>
            </div>
            <div class="card-footer delimiter-top">
              <div class="row">
                <div class="col text-center">
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item pr-4">
                      <a href="#" class="text-muted"><i class="fas fa-share mr-1 text-muted"></i> 131</a>
                    </li>
                    <li class="list-inline-item pr-4">
                      <a href="#" class="text-muted"><i class="fas fa-eye mr-1 text-muted"></i> 255</a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="text-muted"><i class="fas fa-comments mr-1 text-muted"></i> 14</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card hover-shadow-lg hover-translate-y-n10">
            <a href="#">
              <img alt="Image placeholder" src="../../assets/img/theme/light/img-2-800x600.jpg" class="card-img-top">
            </a>
            <div class="card-body py-5 text-center">
              <a href="#" class="d-block h5 lh-150">How to find the right design for your specific product</a>
              <h6 class="text-muted mt-4 mb-0">23 Aug 2019</h6>
            </div>
            <div class="card-footer delimiter-top">
              <div class="row">
                <div class="col text-center">
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item pr-4">
                      <a href="#" class="text-muted"><i class="fas fa-share mr-1 text-muted"></i> 131</a>
                    </li>
                    <li class="list-inline-item pr-4">
                      <a href="#" class="text-muted"><i class="fas fa-eye mr-1 text-muted"></i> 255</a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="text-muted"><i class="fas fa-comments mr-1 text-muted"></i> 14</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card hover-shadow-lg hover-translate-y-n10">
            <a href="#">
              <img alt="Image placeholder" src="../../assets/img/theme/light/img-3-800x600.jpg" class="card-img-top">
            </a>
            <div class="card-body py-5 text-center">
              <a href="#" class="d-block h5 lh-150">How to win buyers and influence sales with marketing</a>
              <h6 class="text-muted mt-4 mb-0">27 Aug 2019</h6>
            </div>
            <div class="card-footer delimiter-top">
              <div class="row">
                <div class="col text-center">
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item pr-4">
                      <a href="#" class="text-muted"><i class="fas fa-share mr-1 text-muted"></i> 131</a>
                    </li>
                    <li class="list-inline-item pr-4">
                      <a href="#" class="text-muted"><i class="fas fa-eye mr-1 text-muted"></i> 255</a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="text-muted"><i class="fas fa-comments mr-1 text-muted"></i> 14</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card hover-shadow-lg hover-translate-y-n10">
            <a href="#">
              <img alt="Image placeholder" src="../../assets/img/theme/light/img-4-800x600.jpg" class="card-img-top">
            </a>
            <div class="card-body py-5 text-center">
              <a href="#" class="d-block h5 lh-150">7 facts about Purpose that will make you think twice</a>
              <h6 class="text-muted mt-4 mb-0">19 Jul 2019</h6>
            </div>
            <div class="card-footer delimiter-top">
              <div class="row">
                <div class="col text-center">
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item pr-4">
                      <a href="#" class="text-muted"><i class="fas fa-share mr-1 text-muted"></i> 131</a>
                    </li>
                    <li class="list-inline-item pr-4">
                      <a href="#" class="text-muted"><i class="fas fa-eye mr-1 text-muted"></i> 255</a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="text-muted"><i class="fas fa-comments mr-1 text-muted"></i> 14</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card hover-shadow-lg hover-translate-y-n10">
            <a href="#">
              <img alt="Image placeholder" src="../../assets/img/theme/light/img-5-800x600.jpg" class="card-img-top">
            </a>
            <div class="card-body py-5 text-center">
              <a href="#" class="d-block h5 lh-150">Here are 15 ugly truths about design</a>
              <h6 class="text-muted mt-4 mb-0">15 Jul 2019</h6>
            </div>
            <div class="card-footer delimiter-top">
              <div class="row">
                <div class="col text-center">
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item pr-4">
                      <a href="#" class="text-muted"><i class="fas fa-share mr-1 text-muted"></i> 131</a>
                    </li>
                    <li class="list-inline-item pr-4">
                      <a href="#" class="text-muted"><i class="fas fa-eye mr-1 text-muted"></i> 255</a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="text-muted"><i class="fas fa-comments mr-1 text-muted"></i> 14</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card hover-shadow-lg hover-translate-y-n10">
            <a href="#">
              <img alt="Image placeholder" src="../../assets/img/theme/light/img-6-800x600.jpg" class="card-img-top">
            </a>
            <div class="card-body py-5 text-center">
              <a href="#" class="d-block h5 lh-150">The real reason why everyone love Purpose</a>
              <h6 class="text-muted mt-4 mb-0">30 Jun 2019</h6>
            </div>
            <div class="card-footer delimiter-top">
              <div class="row">
                <div class="col text-center">
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item pr-4">
                      <a href="#" class="text-muted"><i class="fas fa-share mr-1 text-muted"></i> 131</a>
                    </li>
                    <li class="list-inline-item pr-4">
                      <a href="#" class="text-muted"><i class="fas fa-eye mr-1 text-muted"></i> 255</a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="text-muted"><i class="fas fa-comments mr-1 text-muted"></i> 14</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card hover-shadow-lg hover-translate-y-n10">
            <a href="#">
              <img alt="Image placeholder" src="../../assets/img/theme/light/img-7-800x600.jpg" class="card-img-top">
            </a>
            <div class="card-body py-5 text-center">
              <a href="#" class="d-block h5 lh-150">It's time to get your idea ready for launch</a>
              <h6 class="text-muted mt-4 mb-0">10 Jun 2019</h6>
            </div>
            <div class="card-footer delimiter-top">
              <div class="row">
                <div class="col text-center">
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item pr-4">
                      <a href="#" class="text-muted"><i class="fas fa-share mr-1 text-muted"></i> 131</a>
                    </li>
                    <li class="list-inline-item pr-4">
                      <a href="#" class="text-muted"><i class="fas fa-eye mr-1 text-muted"></i> 255</a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="text-muted"><i class="fas fa-comments mr-1 text-muted"></i> 14</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card hover-shadow-lg hover-translate-y-n10">
            <a href="#">
              <img alt="Image placeholder" src="../../assets/img/theme/light/img-8-800x600.jpg" class="card-img-top">
            </a>
            <div class="card-body py-5 text-center">
              <a href="#" class="d-block h5 lh-150">7 facts about Purpose that will make you think twice</a>
              <h6 class="text-muted mt-4 mb-0">19 May 2019</h6>
            </div>
            <div class="card-footer delimiter-top">
              <div class="row">
                <div class="col text-center">
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item pr-4">
                      <a href="#" class="text-muted"><i class="fas fa-share mr-1 text-muted"></i> 131</a>
                    </li>
                    <li class="list-inline-item pr-4">
                      <a href="#" class="text-muted"><i class="fas fa-eye mr-1 text-muted"></i> 255</a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="text-muted"><i class="fas fa-comments mr-1 text-muted"></i> 14</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card hover-shadow-lg hover-translate-y-n10">
            <a href="#">
              <img alt="Image placeholder" src="../../assets/img/theme/light/img-9-800x600.jpg" class="card-img-top">
            </a>
            <div class="card-body py-5 text-center">
              <a href="#" class="d-block h5 lh-150">Choose the best solution for your business</a>
              <h6 class="text-muted mt-4 mb-0">17 May 2019</h6>
            </div>
            <div class="card-footer delimiter-top">
              <div class="row">
                <div class="col text-center">
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item pr-4">
                      <a href="#" class="text-muted"><i class="fas fa-share mr-1 text-muted"></i> 131</a>
                    </li>
                    <li class="list-inline-item pr-4">
                      <a href="#" class="text-muted"><i class="fas fa-eye mr-1 text-muted"></i> 255</a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="text-muted"><i class="fas fa-comments mr-1 text-muted"></i> 14</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Load more -->
      <div class="mt-4 text-center">
        <a href="#" class="btn btn-sm btn-neutral rounded-pill shadow hover-translate-y-n3">Load more</a>
      </div>
    </div>
  </section>
</div>

{% endblock %}