
{% extends "../../base/home/base.html" %}
{% load static %}

{% block title %} CompetitionLandingPage  {% endblock %}
{% block content %}
        <!-- Main content -->
        <!-- Call to action 1 -->
        <div id="call-to-action-call-to-action-1" title="call-to-action/call-to-action-1.html">
            <section class="slice slice-lg bg-cover bg-size--cover overflow-hidden" data-spotlight style="background-image: url({% static 'assets/img/backgrounds/img-9.jpg' %}); padding-top: 350px; padding-bottom: 200px;">
              <span class="mask bg-gradient-primary opacity-5"></span>
              <div class="shape-container" data-shape-position="top" data-shape-orientation="inverse" style="height: 350px;">
                <img alt="Image placeholder" src="assets/img/svg/shapes/wave-1.svg" class="svg-inject">
              </div>
              <div class="container">
                <div class="row justify-content-center align-items-center">
                  <div class="col-lg-7 text-center">
                    <h3 class="h1 text-white">You are one step away.</h3>
                    <p class="lead text-white">Start building fast, beautiful and modern looking websites in no time using reviewed by the Bootstrap Creators.</p>
                    <div class="mt-5">
                      <a href="https://themes.getbootstrap.com/product/purpose-website-ui-kit/" class="btn btn-lg btn-white rounded-pill">Purchase now</a>
                      <a href="#" class="btn btn-lg btn-link text-light">Learn more</a>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>


        <section class="slice slice-lg">
          <div class="container">
            <div class="mb-5 text-center">
              <h3 class=" mt-4">Reasons to work with us</h3>
              <div class="fluid-paragraph mt-3">
                <p class="lead lh-180">At InnovaVote, we innovate every day to develop solutions that precisely meet your needs, offering you an unrivalled user experience.
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="card hover-shadow-lg hover-scale-110">
                  <div class="card-body py-4">
                    <div class="d-flex align-items-start">
                      <div class="icon text-primary rounded-circle">
                        <i class="fas fa-shield-alt"></i>
                      </div>
                      <div class="icon-text pl-4">
                        <h5 class="ma-0 ">Security</h5>
                        <p class="mb-0">We secure your transactions and accounts with the most advanced cybersecurity technologies, guaranteeing the protection of your sensitive data.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="card hover-shadow-lg hover-scale-110">
                  <div class="card-body py-4">
                    <div class="d-flex align-items-start">
                      <div class="icon text-primary rounded-circle">
                        <i class="fas fa-check-circle"></i>
                      </div>
                      <div class="icon-text pl-4">
                        <h5 class="ma-0 ">Reliability</h5>
                        <p class="mb-0">Access reliable voting results available in real time, ensuring transparency and trust at every stage of the process.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="card hover-shadow-lg hover-scale-110">
                  <div class="card-body py-4">
                    <div class="d-flex align-items-start">
                      <div class="icon text-primary rounded-circle">
                        <i class="fas fa-bolt"></i>
                      </div>
                      <div class="icon-text pl-4">
                        <h5 class="ma-0 ">Rapidité
                        </h5>
                        <p class="mb-0">Benefit from ultra-fast deployment, in less than 2 hours, for immediate implementation of your online voting projects.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="card hover-shadow-lg hover-scale-110">
                  <div class="card-body py-4">
                    <div class="d-flex align-items-start">
                      <div class="icon text-primary rounded-circle">
                        <i class="fas fa-headset"></i>
                      </div>
                      <div class="icon-text pl-4">
                        <h5 class="ma-0 ">Support
                        </h5>
                        <p class="mb-0">Our dedicated teams are available 24/7 to offer you ongoing technical support and assistance, answering all your questions and accompanying you every step of the way.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>



        <section class="slice slice-lg">
          <div class="container no-padding">
            <div class="mb-5 text-center">
              <h3 class=" mt-4">Current competitions on InnovaVote</h3>
              <div class="fluid-paragraph mt-3">
                <p class="lead lh-180">Discover the competitions currently open on InnovaVote and enter now to support your favorite candidates. Each contest offers a unique opportunity to make your voice heard and contribute to the selection of top talent. Browse our list of contests and choose the one that interests you:
                </p>
              </div>
            </div>
            <div class="row">
              {%for competition in CompetionList%} 
              <div class="col-md-4">
                <div class="card hover-shadow-lg">
                  <div class="card-body">
                    <div class="delimiter-bottom pb-3 mb-4">
                      <img alt="Image placeholder" src="{% static competition.image %}" class="svg-inject" style="height: 60px; width: auto">
                      <h5 class="mt-4">{{competition.competitionName}}</h5>
                    </div>
                    <p class="">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                  <div class="card-footer px-0 py-0 border-0 overflow-hidden">
                    <a href="/competitionDetails/{{competition.competitionId}}" class="btn btn-block btn-primary rounded-0">Learn more</a>
                  </div>
                </div>
              </div>
          {% endfor %} 

            </div>
          </div>
        </section>
    



      <br>  <br> 
    <section class="slice slice-xl bg-cover bg-size--cover" style="background-image: url({% static 'assets/img/backgrounds/img-17.jpg' %} ); background-position: center center;">
        <span class="mask bg-dark opacity-2"></span>
        <div class="container py-6">
          <div class="row justify-content-center">
            <div class="col-lg-6 col-xl-6 text-center">
              <div class="mb-5">
                <h1 class="text-white">Always on time</h1>
                <p class="lead text-white mt-2">Your payment is simple and secure. We accept several payment methods, including the most popular credit cards, bank transfers and e-wallets. Our payment process is smooth and intuitive, allowing you to complete your transaction in just a few simple steps. </p>
              </div>
              <form>
                <div class="form-group mb-0">
                  <div class="input-group input-group-lg input-group-merge rounded-pill bg-white">
                    <input type="email" class="form-control form-control-flush" name="email" placeholder="Enter your email address" aria-label="Enter your email address">
                    <div class="input-group-append">
                      <button class="btn btn-white text-dark" type="button">
                        <span class="far fa-paper-plane"></span>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>


      <section class="slice-sm bg-primary">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 mb-4 mb-lg-0">
              <div class="px-4 py-3 text-lg-center">
                <h6 class="text-sm text-white text-uppercase ls-1">Free shipping in 48/72H</h6>
                <p class="text-white opacity-7">
                  Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod
                </p>
              </div>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0">
              <div class="px-4 py-3 text-lg-center">
                <h6 class="text-sm text-white text-uppercase ls-1">Free returns</h6>
                <p class="text-white opacity-7">
                  Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod
                </p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="px-4 py-3 text-lg-center">
                <h6 class="text-sm text-white text-uppercase ls-1">Secure payment</h6>
                <ul class="list-inline mt-2">
                  <li class="list-inline-item">
                    <img alt="Image placeholder" src="{% static 'assets/img/icons/cards/visa.png' %}" width="30">
                  </li>
                  <li class="list-inline-item">
                    <img alt="Image placeholder" src="{% static 'assets/img/icons/cards/mastercard.png' %}" width="30">
                  </li>
                  <li class="list-inline-item">
                    <img alt="Image placeholder" src="{% static 'assets/img/icons/cards/skrill.png' %}" width="30">
                  </li>
                  <li class="list-inline-item">
                    <img alt="Image placeholder" src="{% static 'assets/img/icons/cards/paypal-256x160.png' %}" width="30">
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>

      {% endblock %}