
{% extends "../../base/home/base.html" %}
{% load static %}

{% block title %} competitionDetails {% endblock %}
{% block content %}

{% comment %} <script src="{% static "assets/js/jquery.min.js" %}"></script> {% endcomment %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


  {% for competition  in competitionDetails  %} 
  <div class="main-content">
    <section class="py-2 delimiter-bottom">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">
            <h6 class="mb-0">{{competition.competitionName}}</h6>
          </div>
          <div class="col-md-6">
            {% comment %} <nav class="nav justify-content-md-end mb-0">
              <a href="#" class="nav-link text-sm pl-0">Overview</a>
              <a href="#" class="nav-link text-sm">Tech specs</a>
              <a href="#" class="nav-link text-sm pr-0">Setup &amp; Tips</a>
            </nav> {% endcomment %}
          </div>
        </div>
      </div>
    </section>
    <section class="slice">
      <div class="container">
        <div class="row row-grid">
          <div class="col-lg-6">
            <div data-toggle="sticky" data-sticky-offset="30">
              <a href="" data-fancybox>
                <img alt="Image placeholder" src="{% static competition.image %}" class="img-fluid">
              </a>

            </div>
          </div>
          <div class="col-lg-6">
            <div class="pl-lg-5">
              <!-- Product title -->
              <h5 class="h4">{{competition.competitionName}}</h5>
              <h5 class="text-sm">   <span class="badge badge-pill badge-soft-primary">Category: {{competition.category}}</span></h5>
              <!-- Rating -->
              <br>
              <div class="row align-items-center">
                <div class="col-6">
                  <li class="list-inline-item">
                    <span class="badge badge-pill badge-soft-success">started: {{competition.dateToStart}}</span>
                  </li>
                </div>
                <div class="col-6 text-right">
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                      <span class="badge badge-pill badge-soft-info">End: {{competition.dateToEnd}}</span>
                    </li>
                    <li class="list-inline-item">
                      {% if competition.CompetitionPrivacy == "Private" %}
                      <span class="badge badge-pill badge-soft-success">{{competition.CompetitionPrivacy}}</span>

                         {% elif competition.CompetitionPrivacy == "Team" %}
                    <span class="badge badge-pill badge-soft-primary">{{competition.CompetitionPrivacy}}</span>      
                      {% else %}
                      <span class="badge badge-pill badge-soft-danger">{{competition.CompetitionPrivacy}}</span>   
                       {% endif %}
                    </li>
                  </ul>
                </div>
              </div>
              <!-- Description -->
              <div class="py-4 my-4 border-top border-bottom">
                <h6 class="text-sm">Description:</h6>
                <p class="text-sm mb-0">
                  {{competition.description}}
                </p>
              </div>
    
         
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endfor %}
    <section class="slice slice-lg delimiter-top" id="sct-suggested-products">
      <div class="container">
        <div class="container no-padding">
          <div class="mb-5 text-center">

            <h3 class=" mt-4">Vote for your favorite candidate!</h3>
            <div class="fluid-paragraph mt-3">
              <p class="lead lh-180">Your opinion counts! We invite the public to vote for their favorite candidate. Every vote is crucial and can make all the difference to the contestants. Support your favorite by voting now and help them win the competition!
              </p>
            </div>
          </div>
          
          {% if score != 0  %}
          <div class="row">
            {% for candidate in candidates_with_votes %}
            <div class="col-lg-3 col-sm-6">
              <div class="card card-product">
                <figure class="figure">
                  <img alt="Image placeholder" src="{% static candidate.image %}"  class="img-center img-fluid candidate-image" id="userContentImage{{ candidate.candidatesId }}">
                </figure>
                <div class="card-body text-center pt-0">
                  <br>
                  <h5 class="candidate-name" id="userContentName{{ candidate.candidatesId }}">{{ candidate.fullName }}</h5>
                  {% comment %} {% if candidate.votes_set.all %}
                      {% for vote in candidate.votes_set.all %}
                        <span class="card-price">{{ vote.total_votes }} votes</span>
                   {% endfor %}
                   {% else %}
                   <span class="card-price">0 votes</span>
               {% endif %} {% endcomment %}
               <span class="card-price">{{ candidate.total_votes }} votes</span>
                 
                </div>
                <div class="card-footer px-0 py-0 border-0 overflow-hidden">
                  <button type="button" class="btn btn-block btn-primary rounded-0 vote-button" data-toggle="modal" data-target="#modal_success" data-candidate-id="{{ candidate.candidatesId }}">
                    Vote for her
                  </button>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
         
          
          {% else %}  
          <div class="container">
            <div class="row no-gutters align-items-md-center text-center text-md-left">
              <div class="card hover-shadow-lg hover-scale-110 order-2 col-lg-7 ml--100">
                <div class="card-body p-5">
                  <h6 class="text-muted"> No candidates registered <strong> for this competition</strong></h6> 

                  <p class="h4 lh-150">
                 
                    Please note that there are currently no candidates registered for this competition. Please check this page regularly for new entries.
                  </p>
                </div>
              </div>
         
              <div class="col-lg-5 ml-auto">
                <img alt="Image placeholder" src="{% static  "assets/img/theme/light/no_competition.png" %}" class="img-fluid rounded shadow">
              </div>
            </div>
          </div>
        </section>
             
          {% endif %}
          
        </div>
      </div>
    </section>
    

  </div>


  <!-- Modal -->
<div class="modal modal fade" id="modal_success" tabindex="-1" role="dialog" aria-labelledby="modal_success" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title h6" id="modal_title_6">Vote For</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
            <form role="form" method="POST" action="">
              {% csrf_token %}
              <input type="hidden" name="candidate_id" id="candidate_id_input">
              
              <div class="py-3 text-center">
                  <a href="#" class="avatar  rounded-circle avatar-lg">
                    <img alt="Image placeholder" src="" class="avatar  rounded-circle avatar-lg" id="modal_candidate_image" width='200' height='70'>
                </a>
                
                  <h5 class="heading h4 mt-4" id="modal_candidate_name"></h5>
                  <p>
                  11 Vote = 1000 FCFA  | 11 Votes = 2 USD | 11 Votes = 3 EUR
                  </p>
                  <div class="card">
                    <div class="card-header py-4" id="heading-2-1">
                        <h6 class="mb-0"><i class="fas fa-money-bill mr-3"></i>
                        <span class="numberOfVote">  Price : 0 FCFA</span> </span>
                        </h6>
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="text" name="name" class="form-control" placeholder="Enter Your Name " required>
                  </div>
                  <div class="form-group">
                    <input type="text" name="phone" class="form-control" placeholder="Enter Your Phone Number " required>
                  </div>

                  <div class="form-group">
                    <input type="number" name="votes" class="form-control" placeholder="Enter number of votes" required>
                  </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" name='initialPayment'  class="btn btn-primary">Proceed to payment</button>
          </div>
        </form>
      </div>
  </div>
</div>

 
      <br>  <br> 
    <section class="slice slice-xl bg-cover bg-size--cover" style="background-image: url({% static 'assets/img/backgrounds/img-17.jpg' %} ); background-position: center center;">
        <span class="mask bg-dark opacity-2"></span>
        <div class="container py-6">
          <div class="row justify-content-center">
            <div class="col-lg-6 col-xl-6 text-center">
              <div class="mb-5">
                <h1 class="text-white">Always on time</h1>
                <p class="lead text-white mt-2">
                  Your payment is simple and secure. We accept several payment methods, including the most popular credit cards, bank transfers and e-wallets. Our payment process is smooth and intuitive, allowing you to complete your transaction in just a few simple steps.

                </p>
              </div>
              <form>
                <div class="form-group mb-0">
                  <div class="input-group input-group-lg input-group-merge rounded-pill bg-white">
                    <input type="email" class="form-control form-control-flush" name="email" placeholder="Enter your email address" aria-label="Enter your email address">
                    <div class="input-group-append">
                      <button class="btn btn-white text-dark" type="button">
                        <span class="far fa-paper-plane"></span>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>


      <section class="slice-sm bg-primary">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 mb-4 mb-lg-0">
              <div class="px-4 py-3 text-lg-center">
                <h6 class="text-sm text-white text-uppercase ls-1">Support 24/7</h6>
                <p class="text-white opacity-7">
                  Our support team is available 24/7 to answer all your questions and solve any problems related to your payments.
                </p>
              </div>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0">
              <div class="px-4 py-3 text-lg-center">
                <h6 class="text-sm text-white text-uppercase ls-1">Confidentiality assured</h6>
                <p class="text-white opacity-7">
                  We respect your privacy and never share your information with third parties. Your data is safe with us.
                </p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="px-4 py-3 text-lg-center">
                <h6 class="text-sm text-white text-uppercase ls-1">Secure payment</h6>
                <ul class="list-inline mt-2">
                  <li class="list-inline-item">
                    <img alt="Image placeholder" src="{% static 'assets/img/icons/cards/visa.png' %}" width="30">
                  </li>
                  <li class="list-inline-item">
                    <img alt="Image placeholder" src="{% static 'assets/img/icons/cards/mastercard.png' %}" width="30">
                  </li>
                  <li class="list-inline-item">
                    <img alt="Image placeholder" src="{% static 'assets/img/icons/cards/skrill.png' %}" width="30">
                  </li>
                  <li class="list-inline-item">
                    <img alt="Image placeholder" src="{% static 'assets/img/icons/cards/paypal-256x160.png' %}" width="30">
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <style>
        .candidate-image {
          width: 300px;
          height: 310px;
          object-fit: cover;
        }
      </style>
      <script src="{% static 'assets/js/scripts.js' %} "></script>

      {% endblock %}
