


{% extends "../../base/home/base.html" %}
{% load static %}

{% block title %} Faq {% endblock %}
{% block content %}

  

<div class="main-content">
  <!-- Spotlight -->
  <section class="slice slice-lg bg-gradient-primary" data-offset-top="#header-main">
    <div class="container pt-5">
      <div class="row">
        <div class="col-lg-8">
          <h2 class="display-4 text-white">Faq</h2>
          <h5 class="mb-4 text-white">Frequently asked questions</h5>
        </div>
      </div>
    </div>
    <a href="#sct-faq" class="tongue tongue-bottom tongue-section-primary scroll-me">
      <i class="fas fa-angle-down"></i>
    </a>
  </section>
  <section class="slice slice-lg" id="sct-faq">
    <div class="container">
      <div class="row row-grid">
        <div class="col-lg-3">
          <!-- Side menu -->
          <div data-toggle="sticky" data-sticky-offset="30">
            <div class="card">
              <div class="list-group list-group-flush">
                <a href="#theme-integration" data-scroll-to data-scroll-to-offset="50" class="list-group-item list-group-item-action d-flex justify-content-between">
                  <div>
                    <i class="fas fa-list mr-2"></i>
                    <span>Platform, Public Voting</span>
                  </div>
                  <div>
                    <i class="fas fa-angle-right"></i>
                  </div>
                </a>
                <a href="#customization" data-scroll-to data-scroll-to-offset="50" class="list-group-item list-group-item-action d-flex justify-content-between">
                  <div>
                    <i class="fas fa-desktop mr-2"></i>
                    <span>Dashboard for Promoters</span>
                  </div>
                  <div>
                    <i class="fas fa-angle-right"></i>
                  </div>
                </a>
                <a href="#fonts-and-colors" data-scroll-to data-scroll-to-offset="50" class="list-group-item list-group-item-action d-flex justify-content-between">
                  <div>
                    <i class="fas fa-th mr-2"></i>
                    <span>SMS campaigns, AI support</span>
                  </div>
                  <div>
                    <i class="fas fa-angle-right"></i>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8 ml-lg-auto">
          <!-- Theme integration -->
          <div class="mb-5">
            <h4 class="mb-4" id="theme-integration">Platform, Public Voting</h4>
            <!-- Accordion -->
            <div id="accordion-1" class="accordion accordion-spaced">
              <!-- Accordion card 1 -->
              <div class="card">
                <div class="card-header py-4" id="heading-1-1" data-toggle="collapse" role="button" data-target="#collapse-1-1" aria-expanded="false" aria-controls="collapse-1-1">
                  <h6 class="mb-0"><i class="fas fa-file-pdf mr-3"></i>What is StarBeautyVote and how does it work for public voting?</h6>
                </div>
                <div id="collapse-1-1" class="collapse" aria-labelledby="heading-1-1" data-parent="#accordion-1">
                  <div class="card-body">
                    <p>StarBeautyVote is an electronic voting platform that allows the public to participate in online contests in a secure and transparent way. Users can create an account, browse the available contests, select their favorite candidates and vote.</p>
                  </div>
                </div>
              </div>
              <!-- Accordion card 2 -->
              <div class="card">
                <div class="card-header py-4" id="heading-1-2" data-toggle="collapse" role="button" data-target="#collapse-1-2" aria-expanded="false" aria-controls="collapse-1-2">
                  <h6 class="mb-0"><i class="fas fa-balance-scale mr-3"></i>What measures does StarBeautyVote take to ensure transparent voting?</h6>
                </div>
                <div id="collapse-1-2" class="collapse" aria-labelledby="heading-1-2" data-parent="#accordion-1">
                  <div class="card-body">
                    <p>We guarantee the transparency of the voting process through secure methods and rigorous audits. Every vote is verifiably recorded to ensure the integrity and fairness of the results.</p>
                  </div>
                </div>
              </div>
              <!-- Accordion card 3 -->
              <div class="card">
                <div class="card-header py-4" id="heading-1-3" data-toggle="collapse" role="button" data-target="#collapse-1-3" aria-expanded="false" aria-controls="collapse-1-3">
                  <h6 class="mb-0"><i class="fas fa-credit-card mr-3"></i>What payment methods are accepted on StarBeautyVote?</h6>
                </div>
                <div id="collapse-1-3" class="collapse" aria-labelledby="heading-1-3" data-parent="#accordion-1">
                  <div class="card-body">
                    <p>We accept mobile money and credit card payments to facilitate transactions on the platform.</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- Scroll to top -->
            <div class="text-right py-4">
              <a href="#theme-integration" data-scroll-to data-scroll-to-offset="50" class="text-sm font-weight-bold">Back to top<i class="fas fa-long-arrow-alt-up ml-2"></i></a>
            </div>
          </div>

          <!-- Customization  -->
          <div class="mb-md">
            <h4 class="mb-4" id="customization">Dashboard for Promoters</h4>
            <!-- Accordion -->
            <div id="accordion-2" class="accordion accordion-spaced">
              <!-- Accordion card 1 -->
              <div class="card">
                <div class="card-header py-4" id="heading-2-1" data-toggle="collapse" role="button" data-target="#collapse-2-1" aria-expanded="false" aria-controls="collapse-2-1">
                  <h6 class="mb-0"><i class="fas fa-check mr-3"></i>How do I register as a promoter on StarBeautyVote?</h6>
                </div>
                <div id="collapse-2-1" class="collapse" aria-labelledby="heading-2-1" data-parent="#accordion-2">
                  <div class="card-body">
                    <p>To become a promoter on StarBeautyVote, you need to create an account by providing your basic information. Once registered, you will have access to a personalized dashboard to manage your contests.</p>
                  </div>
                </div>
              </div>
              <!-- Accordion card 2 -->
              <div class="card">
                <div class="card-header py-4" id="heading-2-2" data-toggle="collapse" role="button" data-target="#collapse-2-2" aria-expanded="false" aria-controls="collapse-2-2">
                  <h6 class="mb-0"><i class="fas fa-calendar mr-3"></i>How do I create a competition on StarBeautyVote?</h6>
                </div>
                <div id="collapse-2-2" class="collapse" aria-labelledby="heading-2-2" data-parent="#accordion-2">
                  <div class="card-body">
                    <p>Once logged in to your promoter account, you can create a new competition by filling in the required details such as competition name, start and end dates, description, category, etc.</p>
                  </div>
                </div>
              </div>
              <!-- Accordion card 3 -->
              <div class="card">
                <div class="card-header py-4" id="heading-2-3" data-toggle="collapse" role="button" data-target="#collapse-2-3" aria-expanded="false" aria-controls="collapse-2-3">
                  <h6 class="mb-0"><i class="fas fa-user mr-3"></i>How do I create or share the registration link for candidates?</h6>
                </div>
                <div id="collapse-2-3" class="collapse" aria-labelledby="heading-2-3" data-parent="#accordion-2">
                  <div class="card-body">
                    <p>On your promoter dashboard, you can generate a unique registration link for candidates. This link can be shared via email, social networks, or any other relevant communication method.</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- Scroll to top -->
            <div class="text-right py-4">
              <a href="#customization" data-scroll-to data-scroll-to-offset="50" class="text-sm font-weight-bold">Back to top<i class="fas fa-long-arrow-alt-up ml-2"></i></a>
            </div>
          </div>
          <!-- Fonts and colors -->
          <div class="mb-md">
            <h4 class="mb-4" id="fonts-and-colors">SMS campaigns, AI support and other features</h4>
            <!-- Accordion -->
            <div id="accordion-3" class="accordion accordion-spaced">
              <!-- Accordion card 1 -->
              <div class="card">
                <div class="card-header py-4" id="heading-3-1" data-toggle="collapse" role="button" data-target="#collapse-3-1" aria-expanded="false" aria-controls="collapse-3-1">
                  <h6 class="mb-0"><i class="fas fa-sms mr-3"></i>How can I benefit from SMS campaigns on StarBeautyVote?</h6>
                </div>
                <div id="collapse-3-1" class="collapse" aria-labelledby="heading-3-1" data-parent="#accordion-3">
                  <div class="card-body">
                    <p>Users can use our SMS campaign service to promote their contests and increase participation. This feature is available in our Business Plan.</p>
                  </div>
                </div>
              </div>


              <!-- Accordion card 2 -->
              <div class="card">
                <div class="card-header py-4" id="heading-3-2" data-toggle="collapse" role="button" data-target="#collapse-3-2" aria-expanded="false" aria-controls="collapse-3-2">
                  <h6 class="mb-0"><i class="fas fa-robot mr-3"></i>How can I get AI support on StarBeautyVote?</h6>
                </div>
                <div id="collapse-3-2" class="collapse" aria-labelledby="heading-3-2" data-parent="#accordion-3">
                  <div class="card-body">
                    <p>StarBeautyVote offers AI support for strategic advice and user experience optimization. Users can access this feature to improve the management of their contests and maximize their impact.</p>
                  </div>
                </div>
              </div>
              <!-- Accordion card 3 -->
              <div class="card">
                <div class="card-header py-4" id="heading-3-3" data-toggle="collapse" role="button" data-target="#collapse-3-3" aria-expanded="false" aria-controls="collapse-3-3">
                  <h6 class="mb-0"><i class="fas fa-credit-card mr-3"></i>How can I get technical support to use the platform?</h6>
                </div>
                <div id="collapse-3-3" class="collapse" aria-labelledby="heading-3-3" data-parent="#accordion-3">
                  <div class="card-body">
                    <p>Each subscription plan includes 6 months of technical support. For further assistance, you can contact our dedicated team via our online support or by e-mail.</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- Scroll to top -->
            <div class="text-right py-4">
              <a href="#fonts-and-colors" data-scroll-to data-scroll-to-offset="50" class="text-sm font-weight-bold">Back to top<i class="fas fa-long-arrow-alt-up ml-2"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Call to action (v5) -->
  <section class="slice slice-lg bg-dark" id=sct-call-to-action><a href="#sct-call-to-action" class="tongue tongue-up tongue-section-primary" data-scroll-to>
      <i class="fas fa-angle-up"></i>
    </a>
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-8 text-center">
          <h3 class="font-weight-400 text-white">I am ready to start a new project Vote with <span class="font-weight-700">StarBeautyVote</span>.</h3>
          <div class="mt-5">
            <a href="/auths/register/" class="btn btn-white rounded-pill hover-translate-y-n3">
              Get started<span class="badge badge-pill badge-soft-warning badge-floating border-dark">FREE</span>
            </a>
            <a href="/competitionLanding" class="btn btn-link text-white" data-toggle="tooltip" data-placement="bottom" title="Official documentation">Explore Competition</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}