


{% extends "../../base/home/base.html" %}
{% load static %}

{% block title %} Faq {% endblock %}
{% block content %}

  

<div class="main-content">
  <!-- Spotlight -->
  <section class="slice slice-lg bg-gradient-primary" data-offset-top="#header-main">
    <div class="container pt-5">
      <div class="row">
        <div class="col-lg-8">
          <h2 class="display-4 text-white">Faq</h2>
          <h5 class="mb-4 text-white">Frequently asked questions</h5>
        </div>
      </div>
    </div>
    <a href="#sct-faq" class="tongue tongue-bottom tongue-section-primary scroll-me">
      <i class="fas fa-angle-down"></i>
    </a>
  </section>
  <section class="slice slice-lg" id="sct-faq">
    <div class="container">
      <div class="row row-grid">
        <div class="col-lg-3">
          <!-- Side menu -->
          <div data-toggle="sticky" data-sticky-offset="30">
            <div class="card">
              <div class="list-group list-group-flush">
                <a href="#theme-integration" data-scroll-to data-scroll-to-offset="50" class="list-group-item list-group-item-action d-flex justify-content-between">
                  <div>
                    <i class="fas fa-desktop mr-2"></i>
                    <span>Theme integration</span>
                  </div>
                  <div>
                    <i class="fas fa-angle-right"></i>
                  </div>
                </a>
                <a href="#customization" data-scroll-to data-scroll-to-offset="50" class="list-group-item list-group-item-action d-flex justify-content-between">
                  <div>
                    <i class="fas fa-hand-pointer mr-2"></i>
                    <span>Customization</span>
                  </div>
                  <div>
                    <i class="fas fa-angle-right"></i>
                  </div>
                </a>
                <a href="#fonts-and-colors" data-scroll-to data-scroll-to-offset="50" class="list-group-item list-group-item-action d-flex justify-content-between">
                  <div>
                    <i class="fas fa-tint mr-2"></i>
                    <span>Fonts and colors</span>
                  </div>
                  <div>
                    <i class="fas fa-angle-right"></i>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8 ml-lg-auto">
          <!-- Theme integration -->
          <div class="mb-5">
            <h4 class="mb-4" id="theme-integration">Theme integration</h4>
            <!-- Accordion -->
            <div id="accordion-1" class="accordion accordion-spaced">
              <!-- Accordion card 1 -->
              <div class="card">
                <div class="card-header py-4" id="heading-1-1" data-toggle="collapse" role="button" data-target="#collapse-1-1" aria-expanded="false" aria-controls="collapse-1-1">
                  <h6 class="mb-0"><i class="fas fa-file-pdf mr-3"></i>Which license do I need?</h6>
                </div>
                <div id="collapse-1-1" class="collapse" aria-labelledby="heading-1-1" data-parent="#accordion-1">
                  <div class="card-body">
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                  </div>
                </div>
              </div>
              <!-- Accordion card 2 -->
              <div class="card">
                <div class="card-header py-4" id="heading-1-2" data-toggle="collapse" role="button" data-target="#collapse-1-2" aria-expanded="false" aria-controls="collapse-1-2">
                  <h6 class="mb-0"><i class="fas fa-lock mr-3"></i>How do I get access to a theme?</h6>
                </div>
                <div id="collapse-1-2" class="collapse" aria-labelledby="heading-1-2" data-parent="#accordion-1">
                  <div class="card-body">
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                  </div>
                </div>
              </div>
              <!-- Accordion card 3 -->
              <div class="card">
                <div class="card-header py-4" id="heading-1-3" data-toggle="collapse" role="button" data-target="#collapse-1-3" aria-expanded="false" aria-controls="collapse-1-3">
                  <h6 class="mb-0"><i class="fas fa-credit-card mr-3"></i>How do I see previous orders?</h6>
                </div>
                <div id="collapse-1-3" class="collapse" aria-labelledby="heading-1-3" data-parent="#accordion-1">
                  <div class="card-body">
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- Scroll to top -->
            <div class="text-right py-4">
              <a href="#theme-integration" data-scroll-to data-scroll-to-offset="50" class="text-sm font-weight-bold">Back to top<i class="fas fa-long-arrow-alt-up ml-2"></i></a>
            </div>
          </div>
          <!-- Customization  -->
          <div class="mb-md">
            <h4 class="mb-4" id="customization">Customization</h4>
            <!-- Accordion -->
            <div id="accordion-2" class="accordion accordion-spaced">
              <!-- Accordion card 1 -->
              <div class="card">
                <div class="card-header py-4" id="heading-2-1" data-toggle="collapse" role="button" data-target="#collapse-2-1" aria-expanded="false" aria-controls="collapse-2-1">
                  <h6 class="mb-0"><i class="fas fa-credit-card mr-3"></i>Which license do I need?</h6>
                </div>
                <div id="collapse-2-1" class="collapse" aria-labelledby="heading-2-1" data-parent="#accordion-2">
                  <div class="card-body">
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                  </div>
                </div>
              </div>
              <!-- Accordion card 2 -->
              <div class="card">
                <div class="card-header py-4" id="heading-2-2" data-toggle="collapse" role="button" data-target="#collapse-2-2" aria-expanded="false" aria-controls="collapse-2-2">
                  <h6 class="mb-0"><i class="fas fa-credit-card mr-3"></i>Which license do I need?</h6>
                </div>
                <div id="collapse-2-2" class="collapse" aria-labelledby="heading-2-2" data-parent="#accordion-2">
                  <div class="card-body">
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                  </div>
                </div>
              </div>
              <!-- Accordion card 3 -->
              <div class="card">
                <div class="card-header py-4" id="heading-2-3" data-toggle="collapse" role="button" data-target="#collapse-2-3" aria-expanded="false" aria-controls="collapse-2-3">
                  <h6 class="mb-0"><i class="fas fa-credit-card mr-3"></i>Which license do I need?</h6>
                </div>
                <div id="collapse-2-3" class="collapse" aria-labelledby="heading-2-3" data-parent="#accordion-2">
                  <div class="card-body">
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- Scroll to top -->
            <div class="text-right py-4">
              <a href="#customization" data-scroll-to data-scroll-to-offset="50" class="text-sm font-weight-bold">Back to top<i class="fas fa-long-arrow-alt-up ml-2"></i></a>
            </div>
          </div>
          <!-- Fonts and colors -->
          <div class="mb-md">
            <h4 class="mb-4" id="fonts-and-colors">Fonts and colors</h4>
            <!-- Accordion -->
            <div id="accordion-3" class="accordion accordion-spaced">
              <!-- Accordion card 1 -->
              <div class="card">
                <div class="card-header py-4" id="heading-3-1" data-toggle="collapse" role="button" data-target="#collapse-3-1" aria-expanded="false" aria-controls="collapse-3-1">
                  <h6 class="mb-0"><i class="fas fa-file-pdf mr-3"></i>Which license do I need?</h6>
                </div>
                <div id="collapse-3-1" class="collapse" aria-labelledby="heading-3-1" data-parent="#accordion-3">
                  <div class="card-body">
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                  </div>
                </div>
              </div>
              <!-- Accordion card 2 -->
              <div class="card">
                <div class="card-header py-4" id="heading-3-2" data-toggle="collapse" role="button" data-target="#collapse-3-2" aria-expanded="false" aria-controls="collapse-3-2">
                  <h6 class="mb-0"><i class="fas fa-lock mr-3"></i>How do I get access to a theme?</h6>
                </div>
                <div id="collapse-3-2" class="collapse" aria-labelledby="heading-3-2" data-parent="#accordion-3">
                  <div class="card-body">
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                  </div>
                </div>
              </div>
              <!-- Accordion card 3 -->
              <div class="card">
                <div class="card-header py-4" id="heading-3-3" data-toggle="collapse" role="button" data-target="#collapse-3-3" aria-expanded="false" aria-controls="collapse-3-3">
                  <h6 class="mb-0"><i class="fas fa-credit-card mr-3"></i>How do I attach previous orders?</h6>
                </div>
                <div id="collapse-3-3" class="collapse" aria-labelledby="heading-3-3" data-parent="#accordion-3">
                  <div class="card-body">
                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- Scroll to top -->
            <div class="text-right py-4">
              <a href="#fonts-and-colors" data-scroll-to data-scroll-to-offset="50" class="text-sm font-weight-bold">Back to top<i class="fas fa-long-arrow-alt-up ml-2"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Call to action (v5) -->
  <section class="slice slice-lg bg-dark" id=sct-call-to-action><a href="#sct-call-to-action" class="tongue tongue-up tongue-section-primary" data-scroll-to>
      <i class="fas fa-angle-up"></i>
    </a>
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-8 text-center">
          <h3 class="font-weight-400 text-white">I am ready to start a new project with <span class="font-weight-700">Purpose</span> UI Kit.</h3>
          <div class="mt-5">
            <a href="https://themes.getbootstrap.com/product/purpose-website-ui-kit/" class="btn btn-white rounded-pill hover-translate-y-n3">
              Purchase now<span class="badge badge-pill badge-soft-warning badge-floating border-dark">$ 59</span>
            </a>
            <a href="../../docs/index.html" class="btn btn-link text-white" data-toggle="tooltip" data-placement="bottom" title="Official documentation">Purpose Docs</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}