
{% extends "../../base/home/base.html" %}
{% load static %}

{% block title %} Services {% endblock %}
{% block content %}

  

<div class="main-content">
  <!-- Header -->
  <section class="slice slice-lg" data-offset-top="#header-main">
    <div class="container pt-5 pt-xl-8">
      <div class="row row-grid align-items-center">
        <div class="col-lg-5">
          <h5 class="h1">Simple pricing for<br>unlimited access.</h5>
          <p class="lead my-4">When you purchase you get a pack of high quality components and page layouts to start building your website instantly.</p>
          <small>Try free for 14 days, no credit card required.</small>
          <div class="mt-5">
            <a href="#" class="btn btn-primary rounded-pill hover-translate-y-n3 mr-lg-4">Start free trial</a>
            <a href="https://www.youtube.com/watch?v=mqpwDJpI3Rc" class="btn btn-link btn-icon rounded-pill hover-translate-y-n3" data-fancybox>
              <span class="btn-inner--icon"><i class="fas fa-play"></i></span>
              <span class="btn-inner--text">Play video</span>
            </a>
          </div>
        </div>
        <div class="col-xl-6 col-lg-7 offset-xl-1">
          <div class="row">
            <div class="col-sm-6">
              <div class="card card-pricing border-md border-primary text-center scale-110 popular">
                <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white">Team</span>
                <div class="card-header py-5 border-0">
                  <div class="h1 text-primary text-center mb-0" data-pricing-value="396">$<span class="price">99</span><span class="h6 ml-2">/ per month</span></div>
                </div>
                <div class="card-body delimiter-top">
                  <ul class="list-unstyled mb-4">
                    <li>Up to 5 users</li>
                    <li>Basic support on Github</li>
                    <li>Monthly updates</li>
                    <li>Free cancelation</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card card-pricing text-center">
                <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white">Developer</span>
                <div class="card-header py-5 border-0">
                  <div class="h1 text-primary text-center mb-0" data-pricing-value="196">$<span class="price">49</span><span class="h6 ml-2">/ per month</span></div>
                </div>
                <div class="card-body delimiter-top">
                  <ul class="list-unstyled mb-4">
                    <li>Up to 5 users</li>
                    <li>Basic support on Github</li>
                    <li>Monthly updates</li>
                    <li>Free cancelation</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="slice slice-lg delimiter-top delimiter-bottom">
    <div class="container">
      <div class="row row-grid justify-content-between">
        <div class="col-lg-5">
          <div class="mb-5">
            <h4 class="h5">How do I upload my work?</h4>
            <p class="mt-3">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
          </div>
          <div>
            <h4 class="h5">Which license do I need?</h4>
            <p class="mt-3">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="mb-5">
            <h4 class="h5">How can I get a refund?</h4>
            <p class="mt-3">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
          </div>
          <div>
            <h4 class="h5">How do I get access to a theme I purchased?</h4>
            <p class="mt-3">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Clients (v5) -->
  <section class="py-7 section-floating-icons overflow-hidden">
    <div class="container">
      <div class="mb-5 text-center">
        <h3 class=" mt-4">Working with us</h3>
        <div class="fluid-paragraph mt-3">
          <p class="lead lh-180">Always looking for better ways to do things, innovate and help people achieve their goals.</p>
        </div>
      </div>
      <div class="hover-blurable mt-7">
        <a href="#!">
          <div class="icons-container blurable-item mt-5">
            <!-- Center -->
            <span class="icon">
              <i class="fab fa-dribbble"></i>
            </span>
            <!-- Right 1 -->
            <span class="icon icon-sm">
              <i class="fab fa-css3"></i>
            </span>
            <span class="icon icon-sm">
              <i class="fab fa-cloudsmith"></i>
            </span>
            <span class="icon icon-sm">
              <i class="fab fa-google"></i>
            </span>
            <!-- Right 2 -->
            <span class="icon">
              <i class="fab fa-twitter"></i>
            </span>
            <span class="icon">
              <i class="fab fa-html5"></i>
            </span>
            <span class="icon">
              <i class="fab fa-instagram"></i>
            </span>
            <!-- Left 1 -->
            <span class="icon icon-sm">
              <i class="fab fa-apple"></i>
            </span>
            <span class="icon icon-sm">
              <i class="fab fa-amazon"></i>
            </span>
            <span class="icon icon-sm">
              <i class="fab fa-behance"></i>
            </span>
            <!-- Left 2 -->
            <span class="icon">
              <i class="fab fa-angular"></i>
            </span>
            <span class="icon">
              <i class="fab fa-react"></i>
            </span>
            <span class="icon">
              <i class="fab fa-slack"></i>
            </span>
          </div>
          <span class="blurable-hidden h5 text-primary">See all our clients</span>
        </a>
      </div>
    </div>
  </section>
  <!-- Testimonials (v7) -->
  <section class="slice slice-lg delimiter-top">
    <div class="container">
      <div class="mb-5 text-center">
        <h3 class=" mt-4">What our customers say</h3>
        <div class="fluid-paragraph mt-3">
          <p class="lead lh-180">Start building fast, beautiful and modern looking websites in no time using our theme.</p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-11">
          <div class="swiper-js-container overflow-hidden">
            <div class="swiper-container" data-swiper-items="1" data-swiper-space-between="0" data-swiper-sm-items="2" data-swiper-xl-items="3">
              <div class="swiper-wrapper">
                <div class="swiper-slide p-4">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex align-items-center">
                        <div>
                          <img alt="Image placeholder" src="../../assets/img/theme/light/team-1-800x800.jpg" class="avatar  rounded-circle">
                        </div>
                        <div class="pl-3">
                          <h5 class="h6 mb-0">Heather Wright</h5>
                          <small class="d-block text-muted">Google</small>
                        </div>
                      </div>
                      <p class="mt-4 lh-180">Amazing template! All-in-one, clean code, beautiful design, and really not hard to work with.Highly recommended for any kind on website.</p>
                      <span class="static-rating static-rating-sm">
                        <i class="star fas fa-star voted"></i>
                        <i class="star fas fa-star voted"></i>
                        <i class="star fas fa-star voted"></i>
                        <i class="star fas fa-star voted"></i>
                        <i class="star fas fa-star voted"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide p-4">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex align-items-center">
                        <div>
                          <img alt="Image placeholder" src="../../assets/img/theme/light/team-2-800x800.jpg" class="avatar  rounded-circle">
                        </div>
                        <div class="pl-3">
                          <h5 class="h6 mb-0">Monroe Parker</h5>
                          <small class="d-block text-muted">Apple</small>
                        </div>
                      </div>
                      <p class="mt-4 lh-180">Amazing template! All-in-one, clean code, beautiful design, and really not hard to work with.Highly recommended for any kind on website.</p>
                      <span class="static-rating static-rating-sm">
                        <i class="star fas fa-star voted"></i>
                        <i class="star fas fa-star voted"></i>
                        <i class="star fas fa-star voted"></i>
                        <i class="star fas fa-star voted"></i>
                        <i class="star fas fa-star voted"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide p-4">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex align-items-center">
                        <div>
                          <img alt="Image placeholder" src="../../assets/img/theme/light/team-3-800x800.jpg" class="avatar  rounded-circle">
                        </div>
                        <div class="pl-3">
                          <h5 class="h6 mb-0">John Sullivan</h5>
                          <small class="d-block text-muted">Amazon</small>
                        </div>
                      </div>
                      <p class="mt-4 lh-180">Amazing template! All-in-one, clean code, beautiful design, and really not hard to work with.Highly recommended for any kind on website.</p>
                      <span class="static-rating static-rating-sm">
                        <i class="star fas fa-star voted"></i>
                        <i class="star fas fa-star voted"></i>
                        <i class="star fas fa-star voted"></i>
                        <i class="star fas fa-star voted"></i>
                        <i class="star fas fa-star voted"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide p-4">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex align-items-center">
                        <div>
                          <img alt="Image placeholder" src="../../assets/img/theme/light/team-4-800x800.jpg" class="avatar  rounded-circle">
                        </div>
                        <div class="pl-3">
                          <h5 class="h6 mb-0">James Lewis</h5>
                          <small class="d-block text-muted">Google</small>
                        </div>
                      </div>
                      <p class="mt-4 lh-180">Amazing template! All-in-one, clean code, beautiful design, and really not hard to work with.Highly recommended for any kind on website.</p>
                      <span class="static-rating static-rating-sm">
                        <i class="star fas fa-star voted"></i>
                        <i class="star fas fa-star voted"></i>
                        <i class="star fas fa-star voted"></i>
                        <i class="star fas fa-star voted"></i>
                        <i class="star fas fa-star voted"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide p-4">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex align-items-center">
                        <div>
                          <img alt="Image placeholder" src="../../assets/img/theme/light/team-5-800x800.jpg" class="avatar  rounded-circle">
                        </div>
                        <div class="pl-3">
                          <h5 class="h6 mb-0">Julia Howe</h5>
                          <small class="d-block text-muted">Google</small>
                        </div>
                      </div>
                      <p class="mt-4 lh-180">Amazing template! All-in-one, clean code, beautiful design, and really not hard to work with.Highly recommended for any kind on website.</p>
                      <span class="static-rating static-rating-sm">
                        <i class="star fas fa-star voted"></i>
                        <i class="star fas fa-star voted"></i>
                        <i class="star fas fa-star voted"></i>
                        <i class="star fas fa-star voted"></i>
                        <i class="star fas fa-star voted"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination w-100 mt-4 d-flex align-items-center justify-content-center"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Call to action -->
  <section class="slice slice-lg bg-section-secondary" id=sct-call-to-action><a href="#sct-call-to-action" class="tongue tongue-up" data-scroll-to>
      <i class="fas fa-angle-up"></i>
    </a>
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-8 text-center">
          <h3 class="font-weight-400">I am ready to start a new project with <span class="font-weight-700">Purpose</span> UI Kit.</h3>
          <div class="mt-5">
            <a href="https://themes.getbootstrap.com/product/purpose-website-ui-kit/" class="btn btn-primary rounded-pill hover-translate-y-n3">
              Purchase now<span class="badge badge-pill badge-soft-warning badge-floating border-section-secondary">$ 59</span>
            </a>
            <a href="../../docs/index.html" class="btn btn-link" data-toggle="tooltip" data-placement="bottom" title="Official documentation">Purpose Docs</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

  
{% endblock %}