
{% extends "../../../base/base.html" %}

{% load static %}


      <!-- Page content -->
      {% block title %} candidate-Profile{% endblock %}
    <!-- Content -->
    
    {% block content %}
   <!-- Page content -->
      <div class="page-content">
        <!-- Page title -->
        {% for  candidate in  candidateDetails %} 
        <div class="page-title">
          {% comment %} alert message for paid vote {% endcomment %}

          {% if messages %}
          <ul class="messages">
            {% for message in messages %}
              {% if message.tags == 'success' %}
                <div class="alert alert-group alert-success alert-dismissible fade show alert-icon" role="alert">
                  <div class="alert-group-prepend">
                    <span class="alert-group-icon text-success">
                      <i class="far fa-thumbs-up"></i>
                    </span>
                  </div>
                  <div class="alert-content">
                    {{ message }}
                  </div>
                  <div class="alert-action">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </div>
              {% elif message.tags == 'error' %}
                <div class="alert alert-group alert-danger alert-dismissible fade show alert-icon" role="alert">
                  <div class="alert-group-prepend">
                    <span class="alert-group-icon text-danger">
                      <i class="far fa-thumbs-down"></i>
                    </span>
                  </div>
                  <div class="alert-content">
                    {{ message }}
                  </div>
                  <div class="alert-action">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </div>
              {% else %}
                <div class="alert alert-group alert-info alert-dismissible fade show alert-icon" role="alert">
                  <div class="alert-group-prepend">
                    <span class="alert-group-icon text-info">
                      <i class="far fa-info-circle"></i>
                    </span>
                  </div>
                  <div class="alert-content">
                    {{ message }}
                  </div>
                  <div class="alert-action">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </ul>
        
          <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
          <script>
            $(document).ready(function() {
              setTimeout(function() {
                $('.alert').alert('close');
              }, 15000);  // 15000 milliseconds = 15 seconds
            });
          </script>
        {% endif %}
                


         <div class="row justify-content-between align-items-center">
            <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
              <!-- Page title + Go Back button -->
              <div class="d-inline-block">
                <h5 class="h4 d-inline-block font-weight-400 mb-0 text-white">Invoice   #{{candidate.candidatesId}}</h5>
              </div>
              <!-- Additional info -->
            </div>
            <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-end">
              <div class="actions actions-dark d-inline-block">
                <a href="#" class="action-item ml-md-4">
                  <i class="far fa-file-export mr-2"></i>Export
                </a>
                <a href="#" class="action-item ml-3" data-toggle="modal" data-target="#exampleModal">
                  <i class="far fa-cog mr-2"></i>Add Votes
                </a>
              </div>
            </div>
          </div> 
  
        </div>


        <div class="card card-body p-md-5">
          <div class="row align-items-center mb-5">
            <div class="col-sm-6 mb-3 mb-sm-0">
              <img src="{% static candidate.image %}" class=" rounded-circle xx" alt="" height="100" width="100">
            </div>
            <div class="col-sm-6 text-sm-right">
              <h6 class="d-inline-block m-0 d-print-none">Status</h6>
              {% if candidate.registration_fee_status == "UnPaid" %} 
              <span class="badge badge-pill badge-warning ml-3">UnPaid</span>
              {% else %} 
              <span class="badge badge-pill badge-success ml-3"> Paid</span>
              {% endif %}
            </div>
          </div>
 

          <div class="row mb-5">
            <div class="col-lg-6 col-md-8">
              <h6 class="">Hello, I'm {{candidate.fullName}}!</h6>
              <p class="text-sm">
                {{candidate.description}}
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6">
              <h5>Candidate data</h5>
              <dl class="row mt-4 align-items-center">
                <dt class="col-sm-3"><span class="h6 text-sm mb-0">E-Mall</span></dt>
                <dd class="col-sm-9"><span class="text-sm">{{candidate.email}}</span></dd>
                <dt class="col-sm-3"><span class="h6 text-sm mb-0">Age</span></dt>
                <dd class="col-sm-9"><span class="text-sm">{{candidate.age}}</span></dd>
                <dt class="col-sm-3"><span class="h6 text-sm mb-0">Phone</span></dt>
                <dd class="col-sm-9"><span class="text-sm">{{candidate.numberPhone}}</span></dd>
                <dt class="col-sm-3"><span class="h6 text-sm mb-0">Level</span></dt>
                <dd class="col-sm-9"><span class="text-sm">{{candidate.academic_level}}</span></dd>
                <dt class="col-sm-3"><span class="h6 text-sm mb-0">Profession</span></dt>
                <dd class="col-sm-9"><span class="text-sm">{{candidate.profession}}</span></dd>

              </dl>
            </div>
            <div class="col-12 col-md-6">
              {% comment %} <h5>Invoice data</h5> {% endcomment %}
              <dl class="row mt-4 align-items-center">
                <dt class="col-sm-3"><span class="h6 text-sm mb-0">country</span></dt>
                <dd class="col-sm-9"><span class="text-sm"> {{candidate.country}}</span></dd>
                <dt class="col-sm-3"><span class="h6 text-sm mb-0">city</span></dt>
                <dd class="col-sm-9"><span class="text-sm">{{candidate.city}}</span></dd>
                <dt class="col-sm-3"><span class="h6 text-sm mb-0">city_of_origin</span></dt>
                <dd class="col-sm-9"><span class="text-sm">{{candidate.city_of_origin}}</span></dd>
                <dt class="col-sm-3"><span class="h6 text-sm mb-0">Registration</span></dt>
                <dd class="col-sm-9"><span class="text-sm">{{candidate.dataOfRegistration}}</span></dd>

              </dl>
            </div>
          </div>
          {% endfor %}
          <div class="row">
            <div class="col-12">
              <h5>Candidate Votes</h5>
              <!-- Table -->
              <div class="table-responsive">
                <table class="table mb-0">
                  <thead>
                    <tr>
                      <th class="px-0 bg-transparent border-top-0">Description</th>
                      <th class="px-0 bg-transparent border-top-0">Number Voted</th>
                      <th class="px-0 bg-transparent border-top-0">Price(FCFA)</th>
                      <th class="px-0 bg-transparent border-top-0 text-right">Type Of Votes</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for candate in candidates_with_votes %}
                    <tr>
                      <td class="px-0">
                        <span class="h6 text-sm"> {{candate.voteId}}</span>
                      </td>
                      <td class="px-0">
                        {{candate.numberOfVote}}
                      </td>
                      <td class="px-0">
                        {{candate.priceVoter}}
                      </td>
                      <td class="px-0 text-right">
                        {{candate.vote_type}}
                      </td>
                    </tr>
                    {% endfor %}
                
                  
              
                  </tbody>
                </table>
              </div>
              <div class="card my-5 bg-secondary">
                <div class="card-body">
                  <div class="row justify-content-between align-items-center">
                    <div class="col-md-6 order-md-2 mb-4 mb-md-0">
                      <div class="d-flex align-items-center justify-content-md-end">
                        <span class="h6 text-muted d-inline-block mr-3 mb-0">Total value:</span>
                     {% if total_price %} 
                     <span class="h4 mb-0">FCFA {{total_price}} </span>
                     {% else %} 
                     <span class="h4 mb-0">FCFA 0 </span>
                     {% endif %}
                     
                      </div>
                    </div>
                    <div class="col-md-6 order-md-1">
                      <button type="button" class="btn btn-sm btn-primary">Download</button>
                      <a href="#" class="btn btn-sm btn-link text-dark font-weight-bold">Print invoice</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

      <!-- First Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ADD VOTES TO A CANDIDATE</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <!-- Card for Option A -->
                <div class="card mb-3">
                  <div class="card-body">
                    <h5 class="card-title">Add votes to a candidate</h5>
                    <p class="card-text">Use this form to add votes to a candidate. You can specify whether votes are paid or free. This allows you to accurately reflect the contributions of voters.</p>
                    <button type="button" class="btn btn-primary" id="selectA">Add votes</button>
                  </div>
                </div>
                <!-- Card for Option B -->
                <div class="card mb-3">
                  <div class="card-body">
                    <h5 class="card-title">Pumping up the candidate's numbers</h5>
                    <p class="card-text">This option allows you to manually change the number of votes for a candidate. Use this feature with caution to ensure the integrity of the voting process.</p>
                    <button type="button" class="btn btn-primary" id="selectB">Pumping up the numbers</button>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>

      <!-- Second Modal for Option A -->
      <div class="modal fade" id="optionAModal" tabindex="-1" role="dialog" aria-labelledby="optionAModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="optionAModalLabel">Add votes to a candidate</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- Card for Option A -->
              <div class="card mb-3">
                <div class="card-body">
                  <h5 class="card-title">Free Votes</h5>
                  <p class="card-text">Use this form to add votes to a candidate. You can specify whether votes are paid or free. This allows you to accurately reflect the contributions of voters.</p>
                  <button type="button" class="btn btn-primary" id="selectC">Add votes</button>
                </div>
              </div>
              <!-- Card for Option B -->
              <div class="card mb-3">
                <div class="card-body">
                  <h5 class="card-title">Paid Votes</h5>
                  <p class="card-text">You can add free votes to support your favorite candidate. Each free vote will be added to your candidate's total and will not be charged or deducted from the total votes cast by the public.</p>
                  <button type="button" class="btn btn-primary" id="selectD">Add votes</button>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Second Modal for Pumping up -->
      <div class="modal fade" id="optionBModal" tabindex="-1" role="dialog" aria-labelledby="optionBModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">

            <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title h6" id="modal_title_6">Pumping up Votes</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                <form role="form" method="POST" action="">
                  {% csrf_token %}
                  <input type="hidden" name="candidate_id" id="candidate_id_input">
                  
              
                  {% for candidate in  candidateDetails %}
                  <div class="py-3 text-center">
                      <a href="#" class="avatar  rounded-circle avatar-lg">
                        <img alt="Image placeholder" src="{% static candidate.image %}" class="avatar  rounded-circle avatar-lg" id="modal_candidate_image" width='200' height='70'>
                    </a>
                    
                      <h5 class="heading h4 mt-4" id="modal_candidate_name"></h5>
                      <p>
                     {{candidate.fullName}}
                      </p>
                      <div class="card">
                        <div class="card-header py-4" id="heading-2-1">
                            <h6 class="mb-0">  <i class="far fa-check-circle"></i>
                            <span class="numberOfVote">number Of Vote : {{total_votes}}</span> 
                            </h6>
                        </div>
                      </div>

                      {% endfor %}
                      <div class="form-group">
                        <input type="text" name="name" class="form-control" value= "{{fullName}}" placeholder="Enter Your Name " required>
                      </div>

                      <div class="form-group">
                        <input type="number" name="votes" class="form-control" placeholder="Enter number of votes" required>
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" name='pumpingup'  class="btn btn-primary">Pumping up</button>
              </div>
            </form>
          </div>

          </div>
        </div>
      </div>


       <!-- Second Modal for Paid Votes -->
       <div class="modal fade" id="optionCModal" tabindex="-1" role="dialog" aria-labelledby="optionCModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">

            <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title h6" id="modal_title_6">Free Votes</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                <form role="form" method="POST" action="">
                  {% csrf_token %}
                  <input type="hidden" name="candidate_id" id="candidate_id_input">
                  

                  {% for candidate in  candidateDetails %}
                  <div class="py-3 text-center">
                      <a href="#" class="avatar  rounded-circle avatar-lg">
                        <img alt="Image placeholder" src="{% static candidate.image %}" class="avatar  rounded-circle avatar-lg" id="modal_candidate_image" width='200' height='70'>
                    </a>
                    
                      <h5 class="heading h4 mt-4" id="modal_candidate_name"></h5>
                      <p>
                     {{candidate.fullName}}
                      </p>
                      <div class="card">
                        <div class="card-header py-4" id="heading-2-1">
                            <h6 class="mb-0">    <i class="far fa-check-circle"></i>
                            <span class="numberOfVote">number Of Vote : {{total_votes}}</span> 
                            </h6>
                        </div>
                      </div>

                      {% endfor %}

                      <div class="form-group">
                        <input type="text" name="name" class="form-control" value= "{{fullName}}" placeholder="Enter Your Name " required>
                      </div>
             
                      <div class="form-group">
                        <input type="number" name="votes" class="form-control" placeholder="Enter number of votes" required>
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit"  name='freevote'  class="btn btn-primary">Vote</button>
              </div>
            </form>
          </div>

          </div>
        </div>
      </div>

             <!-- Second Modal for Free Votes -->
             <div class="modal fade" id="optionDModal" tabindex="-1" role="dialog" aria-labelledby="optionDModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
      
                  <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title h6" id="modal_title_6">Paid Vote </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                      <form role="form" method="POST" action="">
                        {% csrf_token %}
                        <input type="hidden" name="candidate_id" id="candidate_id_input">
                        
                      
                  {% for candidate in  candidateDetails %}
                  <div class="py-3 text-center">
                      <a href="#" class="avatar  rounded-circle avatar-lg">
                        <img alt="Image placeholder" src="{% static candidate.image %}" class="avatar  rounded-circle avatar-lg" id="modal_candidate_image" width='200' height='70'>
                    </a>
                    
                      <h5 class="heading h4 mt-4" id="modal_candidate_name"></h5>
                      <p>
                     {{candidate.fullName}}
                      </p>
                      <div class="card">
                        <div class="card-header py-4" id="heading-2-1">
                            <h6 class="mb-0">    <i class="far fa-check-circle"></i>
                            <span class="numberOfVote">number Of Vote : {{total_votes}}</span> 
                            </h6>
                        </div>
                      </div>
                      {% endfor %}
                            <div class="form-group">
                              <input type="text" name="name" value= "{{fullName}}" class="form-control" placeholder="Enter Your Name " required>
                            </div>
      
                            <div class="form-group">
                              <input type="number" name="votes" class="form-control" placeholder="Enter number of votes" required>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" name='paidvote'  class="btn btn-primary">Vote</button>
                    </div>
                  </form>
                </div>
      
                </div>
              </div>
            </div>
      
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  document.getElementById('selectA').addEventListener('click', function() {
    $('#exampleModal').modal('hide');
    $('#optionAModal').modal('show');
  });

  document.getElementById('selectB').addEventListener('click', function() {
    $('#exampleModal').modal('hide');
    $('#optionBModal').modal('show');
  });

  document.getElementById('selectC').addEventListener('click', function() {
    $('#optionAModal').modal('hide');
    $('#optionCModal').modal('show');
  });

  document.getElementById('selectD').addEventListener('click', function() {
    $('#optionAModal').modal('hide');
    $('#optionDModal').modal('show');
  });



  $(document).ready(function() {
    setTimeout(function() {
      $('.alert').alert('close');
    }, 15000);  // 15000 milliseconds = 15 seconds
  });
</script>
<script src="{% static 'assets/js/scripts.js' %} "></script>


      {% endblock %}