
{% extends "../../../base/base.html" %}

{% load static %}


      <!-- Page content -->
      {% block title %} Create Competions {% endblock %}
    <!-- Content -->
    
    {% block content %}
      <!-- Page content -->
      <!-- Page content -->
      <div class="page-content">
        <!-- Page title -->
        <div class="page-title">
          <div class="row justify-content-between align-items-center">
            <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
              <!-- Page title + Go Back button -->
              <div class="d-inline-block">
                <h5 class="h4 d-inline-block font-weight-400 mb-0 text-white"> Statis of {{competitionDetails.competitionName}}</h5>
              </div>
              <!-- Additional  info -->
            </div>
           
            <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-end">
              <div class="actions actions-dark d-inline-block">
               <a href="#" class="action-item ml-3" data-toggle="modal" data-target="#exampleModal">
                  <i class="far fa-share mr-2"></i>Candidate Registration.
                </a> 
                <a href="/apps/candi/create/{{competitionId}}" class="action-item ml-3">
                  <i class="far fa-user-plus"></i> <b>Create </b>
                </a>
                <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Share the registration link for candidates
                      </h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="form-group">
                        <input type="text" value="http://127.0.0.1:8000/auths/candi/register/{{competitionDetails.competitionId}}/{{competitionDetails.registration_fee}}" class="form-control form-control-muted" placeholder="Muted input">
                    </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary"> <a style="color:white" href="/auths/candi/register/{{competitionDetails.competitionId}}/{{competitionDetails.registration_fee}}">Copy&Share Link </a> 
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              
           
              </div>  
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
              <!-- Card body -->
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h6 class="text-muted mb-1">Voting Awards</h6>

                    <span class="h3 font-weight-bold mb-0 ">  {% if total_price %} FCFA {{total_price}}   {% else %}FCFA 0 {% endif %} </span>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
              <!-- Card body -->
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h6 class="text-muted mb-1"> Votes</h6>
                    <span class="h3 font-weight-bold mb-0 "> {% if total_votes %} {{total_votes}} {% else %}  0   {% endif %}</span>
                  </div>
                  <div class="col-auto">
                    <div class="progress-circle progress-sm" id="progress-circle-2" data-progress="60" data-text="60%" data-color="dark"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
              <!-- Card body -->
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h6 class="text-muted mb-1"> Candidate</h6>
                    <span class="h3 font-weight-bold mb-0 ">{% if count_candidate %} {{count_candidate}}   {% else %} 0  {% endif %}  </span>
                  </div>
                  <div class="col-auto">
                    <div class="progress-circle progress-sm" id="progress-circle-3" data-progress="80" data-text="80%" data-color="danger"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
              <!-- Card body -->
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h6 class="text-muted mb-1">Admission fee</h6>
                    <span class="h3 font-weight-bold mb-0 ">{% if total_registration_fee %} {{total_registration_fee}}   {% else %} 0  {% endif %} </span>
                  </div>
                  <div class="col-auto">
                    <div class="progress-circle progress-sm" id="progress-circle-4" data-progress="20" data-text="20%" data-color="success"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
       <div class="row">
        {% for candidate in all_candidate  %}
          <div class="col-lg-3 col-sm-6">
            <div class="card hover-shadow-lg">
              <div class="card-header">
                <div class="d-flex align-items-center">
                  <div class="avatar-parent-child">
                    <img alt="Image placeholder" src="{% static candidate.image %}"  class="avatar  rounded-circle ">
                  {% if candidate.registration_fee_status == 'None '%} 
                  <span class="avatar-child avatar-badge bg-danger"></span>

                  {% else %}
                  <span class="avatar-child avatar-badge bg-info"></span>

                  {% endif %}
                  
                  </div>
                  <div class="avatar-content ml-3">
                    <h6 class="mb-0">{{candidate.fullName}}</h6>
                    <span class="text-sm text-muted"><i class="far fa-user mr-2"></i>{{candidate.age}} Ans</span>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="border-bottom pb-4">
                  <div class="row align-items-center">
                    <div class="col-6">
                      <h6 class="mb-0">{{candidate.academic_level}}</h6>
                      <span class="text-sm text-muted">{{candidate.profession}}</span>
                    </div>
                    <div class="col-6">
                      <h6 class="mb-0">{{candidate.city}}</h6>
                      <span class="text-sm text-muted">{{candidate.country}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="actions d-flex justify-content-between">
                  <a href="/apps/competitions/candi/{{candidate.candidatesId}}" class="action-item">
                    <i class="far fa-chart-pie"></i> See profile
                  </a>

                  <a href="#" class="action-item text-danger" data-toggle="modal" data-target="#modal-delete-account">
                    <i class="far fa-trash-alt"></i> Delete
                  </a>
                </div>
              </div>
         
            </div>
            
          </div>

           <!-- Modal -->
           <div class="modal modal-danger fade" id="modal-delete-account" tabindex="-1" role="dialog" aria-labelledby="modal-delete-account" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <form class="form-danger" method="post" action="">
                  {% csrf_token %} 
                    <div class="modal-content">
                        <div class="modal-body">
                          
                            <div class="text-center">
                                <i class="far fa-exclamation-circle fa-3x opacity-8"></i>
                                <h5 class="text-white mt-4">Should we stop now?</h5>
                                <p class="text-sm text-sm">Are you sure you want to delete ?</p>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label text-white">Enter The Candidate Name"</label>
                                <input id="competitionNameInput" required class="form-control" type="text">
                            </div>
                            <div class="mt-4">
                                <button type="submit" name='delete' value='{{candidate.candidatesId}}' class="btn btn-block btn-sm btn-white text-danger">Delete The account</button>
                                <button type="button" class="btn btn-block btn-sm btn-link text-light mt-4" data-dismiss="modal">Not this time</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
          </div>

          {% endfor %}
          
        </div> 
        <!-- Load more -->
        {% if count_candidate > 16 %} 
        <div class="mt-4 text-center">
          
          <a href="#" class="btn btn-sm btn-neutral rounded-pill shadow hover-translate-y-n3"> {{count_candidate}}Load more ...</a>
        </div>
        {% else %} 
        
        {% endif %}
      </div>
    {% endblock %}