
  {% extends "../../../base/base.html" %}
  {% load static %}
  
  
        <!-- Page content -->
        {% block title %} Create Competions {% endblock %}
      <!-- Content -->
      
      {% block content %}
      <div class="page-content">
          <!-- Page title -->
          <div class="page-title">
            <div class="row justify-content-between align-items-center">
              <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
                <!-- Page title + Go Back button -->
                <div class="d-inline-block">
                  <h5 class="h4 d-inline-block font-weight-400 mb-0 text-white">Competions List</h5>
                </div>
                <!-- Additional info -->
                <div class="align-items-center ml-4 d-inline-flex">
                  <span class="h4 text-info mb-0 mr-2">{{score}}</span>
                  <span class="text-sm opacity-7 text-white">Total Competions</span>
                </div>
                <!-- Optional link -->
                <a href="table-listing.html" class="text-sm text-info d-none d-lg-inline-block ml-4">See table</a>
              </div>
              <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-end">
                <!-- Filter input -->
                <form class="bg-neutral rounded-pill d-inline-block">
                  <div class="input-group input-group-sm input-group-merge input-group-flush">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-transparent"><i class="far fa-filter"></i></span>
                    </div>
                    <input type="text" class="form-control form-control-flush" placeholder="Filter results">
                  </div>
                </form>
                <a href="#modal-user-create" class="btn btn-sm btn-white btn-icon-only rounded-circle ml-4" data-toggle="modal">
                  <span class="btn-inner--icon"><i class="far fa-plus"></i></span>
                </a>
              </div>
            </div>
          </div>
          <div class="row">
  
            {%for competition in CompetionList%}
  
            <div class="col-lg-3 col-sm-6">
              <div class="card card-product">
                <div class="card-header border-0">
                  <h2 class="h6">
                    <a href="#">{{competition.competitionName}}</a>
                  </h2>
                </div>
                <!-- Product image -->
                <figure class="figure">
                  <img alt="Image placeholder" src=" {% static 'assets/img/theme/light/product-1.png' %}" class="img-center img-fluid">
                </figure>
                <div class="card-body">
                  <!-- Price -->
                  <div class="d-flex align-items-center mt-4">
                    <span class="h6 mb-0">{{competition.category}}</span>
                  {% if competition.CompetitionPrivacy == "Private" %}
                     <span class="badge badge-success rounded-pill ml-auto">{{competition.CompetitionPrivacy}}</span>
                  {% elif competition.CompetitionPrivacy == "Team" %}
                      <span class="badge badge-secondary rounded-pill ml-auto">{{competition.CompetitionPrivacy}}</span>
                  {% else %}
                     <span class="badge badge-primary rounded-pill ml-auto">{{competition.CompetitionPrivacy}}</span>
                  {% endif %}
             
                  </div>
                </div>
                {% comment %} <div class="p-4 border-top">
                  <div class="row">
                    <div class="col-6 text-center">
                      <span class="h5 mb-0">47</span><sup>%</sup>
                      <span class="d-block text-sm">Last week</span>
                    </div>
                    <div class="col-6 text-center">
                      <span class="h5 mb-0">18</span><sup>%</sup>
                      <span class="d-block text-sm">Last month</span>
                    </div>
                  </div>
                </div> {% endcomment %}
                <div class="card-footer">
                  <div class="actions d-flex justify-content-between">
                    <a href="#" class="action-item" data-toggle="modal" data-target="#modal-change-username">
                      <i class="far fa-pen"></i>
                    </a>
                    <a href="/apps/competitions/dashboard" class="action-item">
                      <i class="far fa-chart-pie"></i>
                    </a>
  
                    <a href="#" class="action-item text-danger" data-toggle="modal" data-target="#modal-delete-account">
                      <i class="far fa-trash-alt"></i>
                    </a>
                    
<!-- Modal -->
<div class="modal fade" id="modal-change-username" tabindex="-1" role="dialog" aria-labelledby="modal-change-username" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <form method='POST' action=''>
        {% csrf_token %} 
          <div class="modal-content">
              <div class="modal-header">
                  <div class="modal-title d-flex align-items-center" id="modal-title-change-username">
                      <div>
                          <div class="icon icon-sm icon-shape icon-info rounded-circle shadow mr-3">
                              <i class="far fa-user"></i>
                          </div>
                      </div>
                      <div>
                          <h6 class="mb-0">Change Competion Informations</h6>
                      </div>
                  </div>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                 
                  <div class="form-group">
                    <label class="form-control-label">
                      Competition name
                    </label>
                    <input type="text" required  name='competitionName' value='{{competition.competitionName}}'  placeholder='beauty competition' class="form-control">
                  </div>

                   <!-- Project description -->
                   <div class="form-group">
                    <label class="form-control-label mb-0">
                      Competition  description
                    </label>
                    <small class="form-text text-muted mb-2 mt-0">
                      This textarea will autosize while you type
                    </small>
                    <textarea required name = 'description' value='{{competition.description}}'  class="form-control" data-toggle="autosize" rows="2"></textarea>
                  </div>
                  
                  <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                          <label class="form-control-label">
                            Start date
                          </label>
                          <input type="date" value='{{competition.dateToStart}}' class="form-control" name='startDate' required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                          <label class="form-control-label">
                            End date
                          </label>
                          <input type="date" class="form-control"  value='{{competition.dateToEnd}}' name='endDate' required>
                        </div>
                    </div>
                </div>
                       <!-- Project members -->
                       <div class="form-group">
                        <label class="form-control-label">
                         Competions Categories
                        </label>
                        <input type="text" required   value='{{competition.category}}' name='category' placeholder='University' class="form-control">
                      </div>
       <!-- Project privacy -->
       <div class="form-group">
        <label class="form-control-label">
          Competition privacy
        </label>
        <div class="row">
          <div class="col-4">
            <div class="custom-control custom-checkbox">
              <input type="radio" required class="custom-control-input"  value="Private" name="project-privacy" id="radio-project-1">
              <label class="custom-control-label form-control-label text-muted" for="radio-project-1">Private</label>
            </div>
          </div>
          <div class="col-4">
            <div class="custom-control custom-checkbox">
              <input type="radio" required class="custom-control-input" value="Team" name="project-privacy" id="radio-project-2">
              <label class="custom-control-label form-control-label text-muted" for="radio-project-2">Team</label>
            </div>
          </div>
          <div class="col-4">
            <div class="custom-control custom-checkbox">
              <input type="radio" required value='' class="custom-control-input" name="project-privacy" value="Public" id="radio-project-3" checked>
              <label class="custom-control-label form-control-label text-muted" for="radio-project-3">Public</label>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-4">
        <label class="form-control-label">
          Competition Logo
        </label>
        <input type="file" required name="image" id="file-2" class="custom-input-file custom-input-file--2" data-multiple-caption="{count} files selected"  />
       <label for="file-2">
           <i class="fa fa-upload"></i>
           <span>Choose a file…</span>
       </label>
   </div>

              </div>
              <div class="modal-footer">
                  <button type="button" value='{{competition.competitionId}}' name='update' class="btn btn-sm btn-secondary" data-dismiss="modal">Change my username</button>
              </div>
          </div>
      </form>
  </div>
</div>


  <!-- Modal -->
  <div class="modal modal-danger fade" id="modal-delete-account" tabindex="-1" role="dialog" aria-labelledby="modal-delete-account" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <form class="form-danger" method="post" action="">
          {% csrf_token %} 
            <div class="modal-content">
                <div class="modal-body">
                  
                    <div class="text-center">
                        <i class="far fa-exclamation-circle fa-3x opacity-8"></i>
                        <h5 class="text-white mt-4">Should we stop now?</h5>
                        <p class="text-sm text-sm">Are you sure you want to delete "{{competition.competitionName}}"?</p>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label text-white">Enter "{{competition.competitionName}}"</label>
                        <input id="competitionNameInput" class="form-control" type="text">
                    </div>
                    <div class="mt-4">
                        <button type="submit" name='delete' value='{{competition.competitionId}}' class="btn btn-block btn-sm btn-white text-danger">Delete my account</button>
                        <button type="button" class="btn btn-block btn-sm btn-link text-light mt-4" data-dismiss="modal">Not this time</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
  </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
  
          </div>
        </div>
      {% endblock %}
